{% extends 'en.base.html.twig' %}

{% block title%}{{ profile.username }}{% endblock %}

{% block body %}

  <h2>{{ profile.username }}</h2>
  <hr>
   <a href="/fi/manage/profiles" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Back to listing</a><hr>
  <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px; padding-left: 5px;">
  <div class="row" style="height: 40px; padding-top: 10px;">
    <b>Username: </b>{{ profile.username }}
  </div>
  <div class="row" style="height: 40px; padding-top: 10px;">
    <b>Role: </b>
    {% if profile.role == '' %}
     USer
    {% elseif profile.role == 'super-user' %}
     Admin
    {% elseif profile.role == 'customer-admin' %}
     Customer admin
    {% endif %}
  </div>
  <div class="row" style="height: 40px; padding-top: 10px;">
    <b>Join date: </b>{{ profile.joinedDateUk }}
  </div>
  <div class="row" style="height: 40px; padding-top: 10px;">
    <b>Name: </b>{{ profile.name }}
  </div>
  <div class="row" style="height: 40px; padding-top: 10px;">
    <b>Phone: </b>{{ profile.phone }}
  </div>
  <div class="row" style="height: 40px; padding-top: 10px;">
    <b>Street address: </b>{{ profile.address }}
  </div>
  <div class="row" style="height: 40px; padding-top: 10px;">
    <b>Zip code and city: </b>{{ profile.zip }} {{ profile.city }}
  </div>
  {% if profile.language == 'fi' %}

  <div class="row" style="height: 40px; padding-top: 10px;">
    <b style="padding-right: 20px; margin-right: 3px; border: 0px solid black; background-image: url('/images/fin.png'); background-size: 20px 20px;
    background-repeat: no-repeat; background-position: right 2px;">Language: </b> Finnish
  </div>

  {% elseif profile.language == 'en' %}

  <div class="row" style="height: 40px; padding-top: 10px;">
    <b style="padding-right: 20px; margin-right: 3px; border: 0px solid black; background-image: url('/images/uk.png'); background-size: 20px 20px;
    background-repeat: no-repeat; background-position: right 2px;">Language: </b> English
  </div>

  {% endif %}
  <div class="row" style="height: 40px; padding-top: 10px;">
    <b>Email for contacting: </b>{{ profile.email }}
  </div>
  <div class="row" style="padding-top: 7px; padding-bottom: 7px;">
  <a href="/fi/manage/profile/update/{{ profile.id }}" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update profile</a>
  </div></div>

  <hr>
  <h4 style="margin-bottom: 20px; margin-top: -15px;">User's companies:</h4>
   <div class="row" style="background: #fcfcfc; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
    {#<div class="col">✎/✖</div>#}</div>

    <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
     <div class="col" style="max-width: 800px;"><b>ℹ️ Name</b></div>
     <div class="col" style="max-width: 800px;"><b>ℹ️ Business ID</b></div>
     <div class="col" style="max-width: 800px;"><b>ℹ️ Industry field</b></div>
     <div class="col" style="max-width: 800px;"><b>Users</b></div>
     <div class="col" style="max-width: 800px;"><b> </b></div>
     {#<div class="col">✎/✖</div>#}
     </div>
     {%  for company in profile.companies %}
     <div class="row" style="padding-left: '5px'; border: '1px solid gray';
      background: white; border-radius: 5px; margin-top: 5px;">
       <div class="col" style="max-width: 800px;">{{ company.name }}</div>
       <div class="col" style="max-width: 800px;">{{ company.businessId }}</div>
       <div class="col" style="max-width: 800px;">{{ company.industry }}</div>
       <div class="col" style="max-width: 800px;">{{ company.users|length }}
       {% if company.users|length > 1 %}
        users
       {% else %}
        user
       {% endif %}</div>
       <div class="col" style="max-width: 800px;"><a href="/fi/company/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show</a>
       {% if app.user.role is not same as('') %}
        <a href="/fi/company/update/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update</a></div>
       {% else %}
        <a href="/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm disabled">Update</a></div>
       {% endif %}
       {#<div class="col">✎/✖</div>#}
       </div>
       {% endfor %}

  <br><br><br>

{% endblock %}
