{% extends 'en.base.html.twig' %}

{% block title%} Users {% endblock %}

{% block javascripts %}
    <script>
    function myFunction(name, value) {

    var href = new URL(window.location.toString());
    href.searchParams.set('page', 1);
    href.searchParams.set(name, value);
    window.location.assign(href.toString());
    }
    </script>
{% endblock %}

{% block body %}
 <h2>Users</h2><hr>
 {#<a href="/fi/newquestion"><button type="button" class="btn btn-outline-primary btn-md">Lisää uusi kysymys</button></a>
<hr>#}

{#<h4>ℹ️ Tiedot:</h4><hr style="margin-top: 0px;">
<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
<div class="row">
  <b> </b>
</div>
<div class="row">
  <b>Kuvioita yhteensä: </b> 123kpl
</div><div class="row">
  <b> </b>
</div></div>#}

<h4>List of users ({{ totalUsersAmount }} users):</h4>
{% if users|length > 0 %}
 <small> </small>
{% endif %}<hr style="margin-top: 0px;">

<div class="totalContainer" style="margin-top: 5px; margin-bottom: 15px;">
<div class="row">
  <b style="margin-right: 5px;">Filter by role: </b>
  <form method="GET" style="display: inline;">
      <select style="border: 1px solid lightGray; border-radius: 5px;" name='filteredBy' onchange='myFunction(this.name, this.value)'>
           <option value='all'>
           {% if filteredBy == 'user' %}
            User
           {% elseif filteredBy == 'super-user' %}
            Admin
           {% elseif filteredBy == 'customer-admin' %}
            Customer admin
           {% elseif filteredBy == 'all' %}
            All
           {% endif %}</option>
           {% if filteredBy is not same as('user') %}<option value='user'>User</option>{% endif %}
           {% if filteredBy is not same as('super-user') %}<option value='super-user'>Admin</option>{% endif %}
           {% if filteredBy is not same as('customer-admin') %}<option value='customer-admin'>Customer admin</option>{% endif %}
           {% if filteredBy is not same as('all') %}<option value='all'>All</option>{% endif %}
      </select>
  </form>
</div></div>

  {%  for user in users %}
  <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
  <div class="row">
    <p style="color: gray; padding: 0px; margin: 0px; font-style: italic;">ID: {{ user.id }}</p>
  </div>
  <div class="row">
    <b>Username: </b> {{ user.username }}
  </div>
  <div class="row">
    <b>Role: </b>
    {% if user.role == '' %}
     User
    {% elseif user.role == 'super-user' %}
     Admin
    {% elseif user.role == 'customer-admin' %}
     Customer admin
    {% endif %}
  </div>
  <div class="row">
    <b>Name: </b> {{ user.name }}
  </div>
  <div class="row">
    <b>Join date: </b> {{ user.joinedDateUk }}
  </div>
  <div class="col" style="max-width: 800px; padding-left: 5px;"><a href="/en/manage/profile/{{ user.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show</a>
  <a href="/en/manage/profile/update/{{ user.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update</a></div>
  </div>

  {% endfor %}
  <hr>
  <div class="navigation">
      {{ knp_pagination_render(users) }}
  </div><br><br><br>

{% endblock %}
