{% extends 'en.base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div style="height: 30px; margin-bottom: 10px; border: 1px solid lightGray; border-radius: 2px;
box-shadow: 1px 1px 10px lightGray; text-align: right; padding-right: 35px;
background-image: url('/images/fin.png'); background-size: 20px 20px; background-repeat: no-repeat; background-position: 99% 4px;">
<div style=""><a href="/fi/login">Käytä suomeksi</a></div>
</div>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-group">
      <label for="formGroupExampleInput">Your email:</label>
      <input type="email" value="{{ last_username }}" class="form-control mb-2 mr-sm-2" name="username" id="inputYes" placeholder="Email" required autofocus>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Password:</label>
      <input type="password" name="password" class="form-control mb-2 mr-sm-2" id="inputPassword" placeholder="Password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button type="submit" class="btn btn-outline-primary btn-md">Sign in</button>

</form>
{% endblock %}
