{% extends 'fi.base.html.twig' %}

{% block title%} Checkboxtest{% endblock %}

{% block body %}
 <h2>Checkboxtest</h2><hr>

 <form method="post">
     <h5>Checkboxtest:</h5><br>
     <div id="checkboxDiv">
     </div><br>
     <button type="submit" class="btn btn-primary">Vahvista kuviot</button>
     <a href="/fi/property" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
 </form>

<hr>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>

    $(document).ready(function () {

      const list = [{name: 'tester1', id: 1},{name: 'tester2', id: 2}];
      list.map((element, index) => {
        console.log(element.name + ' ' + index);
      });

      const button = document.createElement("button");
      button.style.marginTop = '15px';
      button.className = "btn btn-info btn-sm add-user";
      button.onclick = function() {
        let newUrl = url.split('?').shift();
        window.location.assign(newUrl);
      };
      button.innerHTML = 'Poista valinnat';
      document.getElementById("checkboxDiv").appendChild(button);

    });

    </script>
{% endblock %}
