{% extends 'fi.base.html.twig' %}

{% block title%} Etsi hiilisuunnitelmaa {% endblock %}

{% block body %}
 <h2>Etsi hiilisuunnitelmaa</h2><hr>
   <a href="/fi/functions" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Palaa</a><hr>

   <h4 style="margin-bottom: 20px;">Etsi hiilisuunnitelmaa</h4>
   <p style="margin-bottom: 0px;">Kirjoita kenttään etsimäsi suunitelman henkilön etu- ja sukunimi tai sähköpostiosoite:</p>
   <small style="margin-bottom: 5px;">Järjestelmä ehdottaa suunitelman henkilöitä nimen/sähköpostin perusteella.</small>
   <input type="text" style="margin-top: 5px; min-width: 230px; padding-left: 5px; text-align: left;" class="form-control newStyle" name="input">

   <br>
   <h5>Haun tulokset:</h5>
   <div id="maindiv" style="padding-left: 5px; margin-bottom: 5px;">
   </div>
   <br><hr>

<hr>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
    //const companyId = window.location.toString().split("/")[5];
    //const locale = window.location.toString().split("/")[3];

    $('input[name="input"]').on('input', function() {
      //console.log($(this).val().length);
      if($(this).val().length == 0) {
          $("#maindiv").empty();
      }
      if($(this).val().length > 3) {
      //console.log('Fetching!');
      fetch('/functions/api/searchplan/'+$(this).val(), {
          headers : {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
           }
        })
        .then((response)=>response.json())
        .then(users => {
          $("#maindiv").empty();
          const h5 = document.createElement("h5");
          h5.style = "margin-left: -5px";
          h5.innerHTML = 'Haulla löydettiin ' + users.length + ' käyttäjä(ä):';
          document.getElementById("maindiv").appendChild(h5);

          users.forEach((user, i) => {
            if (user.name == "") {
              user.name = "Ei lisättyä nimeä";
            }
            user.index = i+1
            let addedDiv = '';
            addedDiv = '<a class="btn btn-info btn-sm add-user" style="min-width: 200px;" href="/fi/functions/showplan/owner/'+user.name+'" style="color: white; padding-left: 15px; padding-right: 15px;">'+
            'Näytä omistajan suunnitelmat'+
            /*'</a><br><a class="btn btn-info btn-sm add-user" style="margin-top: 5px; min-width: 200px;" href="/fi/functions/importedarticles/createplan/owner/'+user.name+'" style="color: white; padding-left: 15px; padding-right: 15px;">'+
            'Tee 123'+
            '</a>'+*/
            '</div>'
            const div = document.createElement("div");
            div.style = "height: 80px; margin-bottom: 20px;";
            div.innerHTML = '<div class="row" style="width: 800px; padding-left: 5px; border: 1px solid lightGray;">'+
            '<div class="col" style="max-width: 800px;"><b>ℹ️ Omistajan nimi:</b><br> '+user.name+'</div>'+
            '<div class="col" style="max-width: 800px;"><b>Suunnitelmien määrä:</b><br> '+user.planquantity+' </div>'+
            '<div class="col" style="max-width: 800px;">'+
            addedDiv +
            '{#<div class="col">✎/✖</div>#}'+
            '</div>'

            document.getElementById("maindiv").appendChild(div);

            $('.add-user').click(function () {
                itemId = $(this).attr('data-id');
                itemName = $(this).attr('data-name');

                const newUrl = window.location.toString() + itemId;

                document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Lisätäänkö käyttäjä <b>"+itemName+"</b> yritykselle?</p>" + "<a class='btn btn-info btn-sm' href='"+newUrl+"'>Lisää käyttäjä</a>";

            });

            $('.remove-user').click(function () {
                itemId = $(this).attr('data-id');
                itemName = $(this).attr('data-name');

                const newUrl = window.location.toString().replace("adduser", "removeuser") + itemId;

                document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Poistetaanko käyttäjä <b>"+itemName+"</b> yritykseltä?</p>" + "<a class='btn btn-danger btn-sm' href='"+newUrl+"'>Poista käyttäjä</a>";

            });

          })
          if($(this).val().length == 0) {
              $("#maindiv").empty();
          }
        })
      }
    });

    $(document).ready(function () {
      var itemId = 0;
      var itemName = '';
      $('.delete-company').click(function () {
          var newId = $(this).attr('data-id');
          var newItemName = $(this).attr('data-name');

          itemName = newItemName;
          itemId = newId;

          console.log(itemName);
          console.log(itemId);

          document.getElementsByClassName("modal-footer")[0].innerHTML = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><button type="submit" class="btn btn-danger" data-dismiss="modal" id="deleteBtn">Delete</button>';
          document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Poistetaanko "+newItemName+" "+newId+"?</p>";

          $('#deleteBtn').click(function (event) {
            document.querySelector("#deleteBtnHidden-"+itemId).click(function () {
              var itemId = 0;
              var itemName = '';
            });
          });

      });

    });

    </script>
{% endblock %}
