{% extends 'fi.base.html.twig' %}

{% block title%} Toiminnot {% endblock %}

{% block body %}
<h2>Toiminnot:</h2><hr>
   <div id="instructionsDiv" style="padding-left: 10px; padding-right: 10px; display: none; border: 1px solid lightGray; border-radius: 5px; margin-top: 20px; margin-bottom: 10px;">
   <h5 style="padding-left: 0px; padding-top: 10px;">Ohjeet hiilisuunnitelman luomiseen:</h5>
   <hr style="margin-top: 0px; margin-bottom: 0px;">
   <b>1. Omistajan tilojen lisääminen:</b><br><p>Lisää omistajalle kuviot yksi tila kerrallaan XML-tiedostosta. Tilalle annetaan omistaja, jonka perusteella kuviot haetaan.</p>
   <b>2. Omistajan kuviohaku:</b><br><p>Hae omistajan nimellä kuviot Motti-laskentaa varten. Valitse "Hae kuviot Motti-laskuriin"-painike. Vastauksena saat Excel-tiedoston, joka lähetetään Motti-laskuriin. Tässä näytetään kaikki kuviot omistajan tiloilta riippumatta siitä, onko niillä laskettu tulos jo.</p>
   <b>3. Laskennan tulosten lähetys:</b><br><p>Lähetä laskennan tulokset Excel-tiedostolla, jonka sait Motti-laskurista. Tulokset lisätään kuvioille.</p>
   <b>4. Omistajan kuviohaku:</b><br><p>Hae kuviot omistajan nimellä hiilisuunnitelmaa varten. Valitse "Tee hiilisuunnitelma"-painike. Tässä voit vielä valita, mitkä kuviot hiilisuunnitelmalle valitaan. <b>Huom!</b> Vain kuviot, joille on lisätty Motti-sovelluksen antama tulos, näytetään. Jos kuvioita puuttuu, kannattaa tarkistaa, onko niille laskettu tuloksia eli tehdä laskenta (kohta 2) uudestaan.</p>
   </div>
   <a style="color: white; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm" id="instructionsButton" onclick="showOrHideInstructions()">Näytä ohjeet</a>
   <hr>

<h5>Omistajan tilojen lisääminen</h5>
<p>Lisää omistajalle tilat ja kuviot XML-tiedostolla</p>
<a href="/fi/functions/createfromforestkitxml">
<button type="button" class="btn btn-outline-primary btn-md">Lisää tilan kuviot</button></a><hr>
{#
<h5>Omistajan suunnitelmahaku</h5>
<p style="margin: 0px;">Hae omistajan suunnitelmaa nimen/sähköpostin perusteella</p>
<small>Löytynyt suunnitelma näytetään omassa näkymässään</small><br>
<a href="/fi/functions/carbonplans">
<button type="button" style="margin-top: 10px;" class="btn btn-outline-primary btn-md">Etsi omistaja</button></a><hr>#}

<h5>Omistajan kuviohaku</h5>
<p style="margin: 0px;">Hae omistajan kuvioita nimen/sähköpostin perusteella</p>
<small>Löytyneistä kuvioista voidaan tehdä hiilisuunnitelma</small><br>
<a href="/fi/functions/importedarticles">
<button type="button" style="margin-top: 10px;" class="btn btn-outline-primary btn-md">Etsi omistaja</button></a><hr>

<h5>Laskennan tulosten lähetys</h5>
<p style="margin-bottom: 3px;">Lähetä lasketut tulokset Excel-tiedostosta</p>
<a href="/fi/functions/uploadresultsexcel">
<button type="button" class="btn btn-outline-primary btn-md">Lähetä tulokset</button></a><hr>
{#
<h5>Omistajan tulosten haku</h5>
<p style="margin: 0px;">Hae omistajan laskennan tuloksia nimen/sähköpostin perusteella</p>
<small>Löytyneet tulokset voidaan valita hiilisuunnitelmalle</small><br>
<a href="/fi/functions/articleresults">
<button type="button" style="margin-top: 10px;" class="btn btn-outline-primary btn-md">Etsi omistaja</button></a><hr>
#}
{#<a href="/fi/property/createfromxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lataa tilat ja kuviot XML:stä</a>
<a href="/fi/property/createfromxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä kaikkien tilojen tuodut kuviot (todo)</a>#}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
     function showOrHideInstructions() {
      if ($("#instructionsButton").text() == "Näytä ohjeet" ) {
        $("#instructionsDiv").css("display", "block");
        $("#instructionsButton").text("Piilota ohjeet");
      } else if ($("#instructionsButton").text() == "Piilota ohjeet" ) {
        $("#instructionsDiv").css("display", "none");
        $("#instructionsButton").text("Näytä ohjeet");
      }
    }

    </script>
{% endblock %}

{% endblock %}
