{% extends 'fi.base.html.twig' %}

{% block title%} Käyttäjän {{ owner }} tuodut kuviot {% endblock %}

{% block body %}
 <h2>Käyttäjän {{ owner }} tuodut kuviot</h2><hr>
   <a href="/fi/functions/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin</a>
   {#<a href="/fi/property/{{ owner }}/uploadxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lataa kuviot XML:stä</a>#}
   <hr>

<div style="padding-left: 5px; padding-bottom: 10px; border: 1px solid lightGray; margin-bottom: 10px; border-radius: 5px;">
<b>Hae kuvioita seuraavilla parametreilla:</b><br><hr style="padding: 0px; margin-bottom: 5px; margin-top: 0px;">
Poista puuttomat kuviot:
<input type="checkbox" id="filterNoTreesCheck" onclick="filterFunction()"><br>
Toiminto:
<select id="operationDropdown" onchange="filterFunction()">
  <option value="0" selected>Valitse</option>
  <option value="fertilization">Lannoitus</option>
  <option value="afforestation">Metsitys</option>
</select>
{#Kasvupaikka:
<select id="growplaceDropdown" onchange="filterFunction()">
  <option value="0" selected>All</option>
  <option value="1">test1</option>
  <option value="2">test2</option>
  <option value="3">test3</option>
</select>
Maalaji:
<select id="soiltypeDropdown" onchange="filterFunction()">
  <option value="0" selected>All</option>
  <option value="1">test1</option>
  <option value="2">test2</option>
  <option value="3">test3</option>
</select>#}
{#<button style="float: right; margin-right: 20px;" class="btn btn-info btn-sm" onclick="getArticles()">Filter articles:</button><hr>#}
</div>
<div id="filterSettingsUsedDiv">
</div>
<br>
{%  for index, article in importedArticlesPaginated %}

<div class="row" style="margin-bottom: 0px; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px; margin-top: 20px;">
<b>Kuvio: </b> {{article.index}}/{{ importedArticles|length }} <b>Tila: </b> {{article.propertyName}}
</div>
<div class="row" style="padding-left: 5px; border: 1px solid lightGray; border-radius: 10px; margin-bottom: 5px;">
{#Check-{{ index }}<input type="checkbox" id="filterNoTreesCheck-{{ index }}" onclick="filterFunction()">#}
 <div class="col" style="max-width: 800px; font-size: 15px;"><b>ℹ️ Alue:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Pääryhmä:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kasvupaikka:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Maalaji:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Kehitysluokka:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Saavutettavuus:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Laatu:</b></div>
 <div class="col" style="max-width: 800px; font-size: 15px; padding-left: 3px; "><b>Kasvu yht:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Toimenpiteet:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; padding-left: 3px; "><b>Päivämäärä:</b></div>
 </div>
 <div class="row" style="padding-left: 5px; border: '1px solid gray';
  background: white; border-radius: 5px; margin-top: 5px;">
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.area }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.mainclass }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.growplace }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.soiltype }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.developmentclass }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.accessibility }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.quality }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.totalGrowth }}</div>
   <div class="col" style="max-width: 800px; font-size: 12px;">{{ article.operations }}</div>
   <div class="col" style="max-width: 800px; font-size: 13px;">{{ article.dateFi }}</div>
   </div>

{% if article.noTreeData %}
  <button style="margin-left: -15px; margin-top: 10px; background-color: lightGray; border: gray; color: gray;" type="button" class="btn btn-info btn-sm">Näytä kuvion puustotiedot</button>
{% else %}
  <button id="treeInfoButton-{{index}}" style="margin-left: -15px; margin-top: 10px;" type="button" class="btn btn-info btn-sm" onclick="showOrHideTreeinfo({{index}})">Näytä kuvion puustotiedot</button>
{% endif %}

{#<a href="/fi/property/{{ owner }}/importedarticles/{{ owner }}/show" style="margin-left: 5px; margin-top: 10px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä kuviota</a></div>#}
<div id="treeInfo-{{index}}" style="display: none;">

{% if article.mantyAge > 1 %}
 <div class="row" style="text-align: center; border-bottom: 1px solid black; margin-top: 5px; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
  <div class="col" style="max-width: 100%;"><b>🌲 Mänty:</b></div>
  </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Ikä:</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/kuvio):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Tukkia (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kuitua (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Läpimitta (cm):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Pituus (metriä):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Runkoluku (kpl/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Ppa (m²/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kasvu (m³/ha/vuosi):</b></div>
  </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
   background: white;">
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyLogVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyPulpVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyDensity }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyBasalarea }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.mantyGrowth }}</div>
    </div>
{% endif %}

{% if article.kuusiAge > 1 %}
  <div class="row" style="text-align: center; border-bottom: 1px solid black; margin-top: 5px; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
   <div class="col" style="max-width: 100%;"><b>🌲 Kuusi:</b></div>
   </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Ikä:</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/kuvio):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Tukkia (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kuitua (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Läpimitta (cm):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Pituus (metriä):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Runkoluku (kpl/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Ppa (m²/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kasvu (m³/ha/vuosi):</b></div>
   </div>
   <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
    background: white;">
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiLogVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiPulpVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiDensity }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiBasalarea }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.kuusiGrowth }}</div>
   </div>
{% endif %}

{% if article.rauduskoivuAge > 1 %}
 <div class="row" style="text-align: center; border-bottom: 1px solid black; margin-top: 5px; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
  <div class="col" style="max-width: 100%;"><b>🌲 Rauduskoivu:</b></div>
  </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Ikä:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/kuvio):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Tukkia (m³/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kuitua (m³/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Läpimitta (cm):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Pituus (metriä):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Runkoluku (kpl/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Ppa (m²/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kasvu (m³/ha/vuosi):</b></div>
  </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
   background: white;">
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuAge }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuVolume }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuVolumeHa }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuLogVolume }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuPulpVolume }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuDiameter }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuLength }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuDensity }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuBasalarea }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.rauduskoivuGrowth }}</div>
    </div>
{% endif %}

{% if article.hieskoivuAge > 1 %}
  <div class="row" style="text-align: center; border-bottom: 1px solid black; margin-top: 5px; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
   <div class="col" style="max-width: 100%;"><b>🌲 Hieskoivu:</b></div>
   </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Ikä:</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/kuvio):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Tukkia (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kuitua (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Läpimitta (cm):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Pituus (metriä):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Runkoluku (kpl/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Ppa (m²/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kasvu (m³/ha/vuosi):</b></div>
   </div>
   <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
    background: white;">
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuLogVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuPulpVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuDensity }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuBasalarea }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.hieskoivuGrowth }}</div>
     </div>
{% endif %}

{% if article.haapaAge > 1 %}
   <div class="row" style="text-align: center; border-bottom: 1px solid black; margin-top: 5px; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
    <div class="col" style="max-width: 100%;"><b>🌲 Haapa:</b></div>
    </div>
   <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Ikä:</b></div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/kuvio):</b></div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/hehtaari):</b></div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Tukkia (m³/hehtaari):</b></div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kuitua (m³/hehtaari):</b></div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Läpimitta (cm):</b></div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Pituus (metriä):</b></div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Runkoluku (kpl/hehtaari):</b></div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Ppa (m²/hehtaari):</b></div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kasvu (m³/ha/vuosi):</b></div>
    </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
   background: white;">
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaAge }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaVolume }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaVolumeHa }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaLogVolume }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaPulpVolume }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaDiameter }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaLength }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaDensity }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaBasalarea }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.haapaGrowth }}</div>
    </div>
{% endif %}

{% if article.harmaaleppaAge > 1 %}
  <div class="row" style="text-align: center; border-bottom: 1px solid black; margin-top: 5px; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
   <div class="col" style="max-width: 100%;"><b>🌲 Harmaaleppä:</b></div>
   </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Ikä:</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/kuvio):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Tukkia (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kuitua (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Läpimitta (cm):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Pituus (metriä):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Runkoluku (kpl/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Ppa (m²/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kasvu (m³/ha/vuosi):</b></div>
   </div>
   <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
    background: white;">
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaAge }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaVolumeHa }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaLogVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaPulpVolume }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaDiameter }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaLength }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaDensity }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaBasalarea }}</div>
    <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.harmaaleppaGrowth }}</div>
     </div>
{% endif %}

{% if article.tervaleppaAge > 1 %}
 <div class="row" style="text-align: center; border-bottom: 1px solid black; margin-top: 5px; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
  <div class="col" style="max-width: 100%;"><b>🌲 Tervaleppä:</b></div>
  </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Ikä:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/kuvio):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Tukkia (m³/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kuitua (m³/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Läpimitta (cm):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Pituus (metriä):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Runkoluku (kpl/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Ppa (m²/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kasvu (m³/ha/vuosi):</b></div>
  </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
   background: white;">
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaAge }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaVolume }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaVolumeHa }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaLogVolume }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaPulpVolume }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaDiameter }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaLength }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaDensity }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaBasalarea }}</div>
   <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.tervaleppaGrowth }}</div>
    </div>
{% endif %}

{% if article.havupuuAge > 1 %}
  <div class="row" style="text-align: center; border-bottom: 1px solid black; margin-top: 5px; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
   <div class="col" style="max-width: 100%;"><b>🌲 Muu havupuu:</b></div>
   </div>
  <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Ikä:</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/kuvio):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Tukkia (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kuitua (m³/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Läpimitta (cm):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Pituus (metriä):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Runkoluku (kpl/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Ppa (m²/hehtaari):</b></div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kasvu (m³/ha/vuosi):</b></div>
   </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
  background: white;">
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuAge }}</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuVolume }}</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuVolumeHa }}</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuLogVolume }}</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuPulpVolume }}</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuDiameter }}</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuLength }}</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuDensity }}</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuBasalarea }}</div>
  <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.havupuuGrowth }}</div>
   </div>
{% endif %}

{% if article.lehtipuuAge > 1 %}
 <div class="row" style="text-align: center; border-bottom: 1px solid black; margin-top: 5px; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid black;">
  <div class="col" style="max-width: 100%;"><b>🌲 Muu lehtipuu:</b></div>
  </div>
 <div class="row" style="border-left: 1px solid black; border-right: 1px solid black; padding-left: 5px;">
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Ikä:</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/kuvio):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;"><b>Tilavuus (m³/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Tukkia (m³/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kuitua (m³/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Läpimitta (cm):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Pituus (metriä):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Runkoluku (kpl/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Ppa (m²/hehtaari):</b></div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 0px; max-height: 50px;"><b>Kasvu (m³/ha/vuosi):</b></div>
  </div>
<div class="row" style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black; padding-left: 5px;
 background: white;">
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuAge }}</div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuVolume }}</div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuVolumeHa }}</div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuLogVolume }}</div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuPulpVolume }}</div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuDiameter }}</div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuLength }}</div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuDensity }}</div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuBasalarea }}</div>
 <div class="col" style="max-width: 800px; font-size: 14px; margin-bottom: 5px; max-height: 50px;">{{ article.lehtipuuGrowth }}</div>
  </div>
{% endif %}<br>
</div><br>
   {% endfor %}
<hr>
<form method="POST" style="margin-top: 30px;">
   <input type="hidden" name="importedArticlesJsoned" value="{{ importedArticlesJsoned }}" />
   <button type="submit" class="btn btn-primary">Valitse kuviot XML-exportille</button>
   <a href="/fi/functions" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
</form>
<br>
{#<button style="float: left; margin-right: 20px;" class="btn btn-info btn-sm" onclick="nextPage()">Next page</button>
<button style="float: left; margin-right: 20px;" class="btn btn-info btn-sm" onclick="previousPage()">Previous page</button>#}

<div class="navigation">
    {{ knp_pagination_render(importedArticlesPaginated) }}
</div><br>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
    var url = window.location.href;
/*
    if (url.includes("?operation=0")) {
      const newUrl = url.replace("?operation=0", "");
      window.location.replace(newUrl);
    }
*/
    $('.dropdown-toggle').dropdown();
    $('[data-toggle="tooltip"]').tooltip();
    $(document).ready(function () {

    $("#filterSettingsUsedDiv").empty();
    const h5 = document.createElement("h5");
    h5.style = "margin-left: 0px";
    h5.innerHTML = 'Löydettiin {{ importedArticles|length }} kuviota';
    document.getElementById("filterSettingsUsedDiv").appendChild(h5);
    $('#filterSettingsUsedDiv').css({'padding': '10px', 'border':'1px solid lightGray', 'border-radius':'5px'});

    let pageLoadUrl = new URL(url);
    const onLoadParams = new URLSearchParams(pageLoadUrl.search.slice(1));

    if (onLoadParams.has('filterNoTrees')) {
      $("#filterNoTreesCheck").prop("checked", true);

      const b = document.createElement("b");
      b.style = "margin-left: 0px";
      b.innerHTML = '✔️ Filteröidään puuttomat kuviot pois';
      document.getElementById("filterSettingsUsedDiv").appendChild(b);

      const br = document.createElement("br");
      document.getElementById("filterSettingsUsedDiv").appendChild(br);

    } else {
      $("#filterNoTreesCheck").prop("checked", false);
    }

    if (onLoadParams.has('operation')) {
      const operationValue = onLoadParams.get("operation");
      $('#operationDropdown').val(operationValue);
      const b = document.createElement("b");
      b.style = "margin-left: 0px";
      if (operationValue == 'fertilization') {
        b.innerHTML = '✔️ Haetaan kuviot lannoitukselle';
      } if (operationValue == 'afforestation') {
        b.innerHTML = '✔️ Haetaan kuviot metsitykselle';
      } if (operationValue == '0') {
        //alert('Remove param!');
      }
      document.getElementById("filterSettingsUsedDiv").appendChild(b);
    }

    if (onLoadParams.toString() !== '' && !onLoadParams.toString().includes("page")) {
      const br = document.createElement("br");
      document.getElementById("filterSettingsUsedDiv").appendChild(br);
      const button = document.createElement("button");
      button.style.marginTop = '15px';
      button.className = "btn btn-info btn-sm add-user";
      button.onclick = function() {
        let newUrl = url.split('?').shift();
        window.location.assign(newUrl);
      };
      button.innerHTML = 'Poista kriteerit';
      document.getElementById("filterSettingsUsedDiv").appendChild(button);
    }

    $('#growplaceDropdown').val('0');
    $('#soiltypeDropdown').val('0');

      var itemId = 0;
      var itemName = '';
      $('.delete-company').click(function () {
          var newId = $(this).attr('data-id');
          var newItemName = $(this).attr('data-name');

          itemName = newItemName;
          itemId = newId;

          document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Poistetaanko "+newItemName+" "+newId+"?</p>";

      });

      $('#deleteBtn').click(function (event) {
        document.querySelector("#deleteBtnHidden-"+itemId).click(function () {
          var itemId = 0;
          var itemName = '';
        });
        /*
          const deleteUrl = window.location + '/delete/' + articleId
          fetch(deleteUrl).then(response => {
          location.replace(window.location)
        })*/
      });
    });

    function showOrHideTreeinfo(articleParent) {
      if ($("#treeInfoButton-"+articleParent).text() == "Näytä kuvion puustotiedot" ) {
        console.log($("#treeInfoButton-"+articleParent).text());
        $("#treeInfo-"+articleParent).css("display", "inline");
        $("#treeInfoButton-"+articleParent).text("Piilota kuvion puustotiedot");
      } else if ($("#treeInfoButton-"+articleParent).text() == "Piilota kuvion puustotiedot" ) {
        console.log($("#treeInfoButton-"+articleParent).text());
        $("#treeInfo-"+articleParent).css("display", "none");
        $("#treeInfoButton-"+articleParent).text("Näytä kuvion puustotiedot");
      }
    }

    function filterFunction() {
    let newUrl = url;

    const urlParts = newUrl.split('?');
    let params = new URLSearchParams(urlParts[1]);

    const checkBox = document.getElementById("filterNoTreesCheck");
    if (checkBox.checked == true) {
      params.set('filterNoTrees', true);
      newUrl = urlParts[0] + '?' + params.toString();
    } if (checkBox.checked == false) {
      params.delete('filterNoTrees');
      newUrl = urlParts[0] + '?' + params.toString();
    }

    var operationDropdown = document.getElementById("operationDropdown");
    var operationDropdownValue = operationDropdown.options[operationDropdown.selectedIndex].value;
    if (operationDropdownValue !== 0) {
        params.set('operation', operationDropdownValue);
        newUrl = urlParts[0] + '?' + params.toString();
    } if (operationDropdownValue == 0) {
      params.delete('operation');
      newUrl = urlParts[0] + '?' + params.toString();
    }

    window.location.assign(newUrl);
    }

    function getArticles() {
      //alert(url);
      console.log(url);
      window.location.assign(url);
    }

    </script>
{% endblock %}

{% endblock %}
