{% extends 'fi.base.html.twig' %}

{% block title%} Lähetä lasketut tulokset {% endblock %}

{% block body %}

<h3>Lähetä lasketut tulokset Excel-tiedostosta</h3>
<br>

{% if not showData %}

<div style="border: 1px solid lightGray; padding: 10px; border-radius: 10px;">
<h5>Lähetä laskettu Excel-tiedosto</h5><hr>

<form method="post" enctype="multipart/form-data">
   <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

   <input type="file" name="excel" required>

   <hr>
   <button type="submit" class="btn btn-primary">Lähetä lasketut tulokset</button>
</form>

{% else %}
<hr>
{% if importedArticles|length < 1 %}
	<h5>Ei päivitettyjä kuvioita.</h5>
{% else %}
	<h5>Päivitettiin<b> </b>{{ importedArticles|length }} kuviota.</h5>
	{% if invalidArticles|length > 0 %}
	<div style="padding: 5px; border: 1px solid lightGray; border-radius: 10px; line-height: 20px;">
	<b>Huom!</b>
   Tuloksettomia kuvioita oli <b> </b>{{ invalidArticles|length }} kappaletta.
   <br>Kuvioidet ID ja kuviotunnus:<br>
   {%  for invalidArticle in invalidArticles %}
	Kuvio: {{ invalidArticle.id }} / {{ invalidArticle.standNumber }}<br>
   {% endfor %}
   </div>
   {% endif %}
   <hr>
	Laadi käyttäjälle<b> </b>{{ propertyOwner }} hiilisuunnitelmasuunnitelma:<br>
   <a href="/fi/functions/importedarticles/createplan/owner/{{propertyOwner}}/" style="margin-top: 10px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Laadi hiilisunnitelma</a>
   <hr>

{% endif %}




{% endif %}


<div>


<br><br><br><br><br><br>

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>

    </script>
{% endblock %}

{% endblock %}
