{% extends 'fi.base.html.twig' %}

{% block title%} Yritykset {% endblock %}

{% block body %}
 <h2>Yritykset:</h2><hr>
 {% if app.user.role is not same as('') %}
  <a href="/fi/newcompany"><button type="button" class="btn btn-outline-primary btn-md">Lisää uusi yritys</button></a>
 {% else %}
  <a href="/"><button type="button" class="btn btn-outline-primary btn-md disabled">Lisää uusi yritys</button></a>
 {% endif %}
<hr>

{#<h4>ℹ️ Tiedot:</h4><hr style="margin-top: 0px;">
<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
<div class="row">
  <b> </b>
</div>
<div class="row">
  <b>Kuvioita yhteensä: </b> 123kpl
</div><div class="row">
  <b> </b>
</div></div>#}

<h4>Lista yrityksistä ({{ companies|length }} kpl):</h4><hr style="margin-top: 0px;">
 <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="max-width: 800px;"><b>ℹ️ Nimi</b></div>
  <div class="col" style="max-width: 800px;"><b>ℹ️ Y-tunnus</b></div>
  <div class="col" style="max-width: 800px;"><b>ℹ️ Toimiala</b></div>
  <div class="col" style="max-width: 800px;"><b>Käyttäjät</b></div>
  <div class="col" style="max-width: 800px;"><b> </b></div>
  {#<div class="col">✎/✖</div>#}
  </div>
  {%  for company in companies %}
  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 800px;">{{ company.name }}</div>
    <div class="col" style="max-width: 800px;">{{ company.businessId }}</div>
    <div class="col" style="max-width: 800px;">{{ company.industry }}</div>
    <div class="col" style="max-width: 800px;">{{ company.users|length }}
    {% if company.users|length > 1 %}
     käyttäjää
    {% else %}
     käyttäjä
    {% endif %}</div>
    <div class="col" style="max-width: 800px;"><a href="/fi/company/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä</a>
    {% if app.user.role is not same as('') %}
     <a href="/fi/company/update/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä</a></div>
    {% else %}
     <a href="/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm disabled">Päivitä</a></div>
    {% endif %}
    {#<div class="col">✎/✖</div>#}
    </div>
    {% endfor %}

{% endblock %}
