{% extends 'fi.base.html.twig' %}

{% block title%} {{ company.name }} {% endblock %}

{% block body %}
 <h2>{{ company.name }} </h2><hr>
   <a href="/fi/company" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin listaukseen</a><hr>
<h4 style="margin-bottom: 20px;">Yritys:</h4>
<div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
 <div class="col" style="max-width: 800px;"><b>ℹ️ Toiminimi</b></div>
 <div class="col" style="max-width: 800px;"><b>ℹ️ Y-tunnus</b></div>
 <div class="col" style="max-width: 800px;"><b>ℹ️ Toimiala</b></div>
 <div class="col" style="max-width: 800px;"><b> </b></div>
 {#<div class="col">✎/✖</div>#}
 </div>
 <div class="row" style="padding-left: 5px; border: '1px solid gray';
  background: white; border-radius: 5px; margin-top: 5px;">
   <div class="col" style="max-width: 800px;">{{ company.name }}</div>
   <div class="col" style="max-width: 800px;">{{ company.businessId }}</div>
   <div class="col" style="max-width: 800px;">{{ company.industry }}</div>
   <div class="col" style="max-width: 800px;">
   {% if app.user.role is not same as('') %}
    <a href="/fi/company/update/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä yrityksen tietoja</a>
   {% else %}
    <a href="/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm disabled">Päivitä yrityksen tietoja</a>
   {% endif %}
   </div></div>
   <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
   <div class="row">
     <b>Info: </b>Infoa yrityksestä
   </div></div>

   <hr>
   <a href="/fi/questionform/?companyId={{ company.id }}" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lisää uusi lomake</a>

   <h4 style="margin-bottom: 20px;">Yrityksen lomakkeet:</h4>
   {% if forms|length > 0 %}
     {% for index, form in forms %}
     <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
     <div class="row">
       <b>Lomakkeen nimi: </b>{{ form.form_name }}
     </div>
     <div class="row">
       <b>Lomakkeen välilehdet: </b>
       {% for index, tab in form.tabs %}
       {#<a href="/fi/questionform/updatetabs/{{ company.id }}/{{ form.form_name }}/{{tab.tab_name }}" style="background-color: gray; border: 1px solid black; height: 25px; padding-top: 0px; padding-bottom: 0px; margin-right: 5px;" class="btn btn-info btn-sm">{{ tab.tab_name }}</a>#}
       <a href="" style="background-color: gray; border: 1px solid black; height: 25px; padding-top: 0px; padding-bottom: 0px; margin-right: 5px;" class="btn btn-info btn-sm">{{ tab.tab_name }}</a>
       {% endfor %}
     </div>
     <div class="row">
       <b>Kysymysten määrä lomakkeella: </b>{{ form.questions|length }}
     </div>
     <div class="row">
       <a href="/fi/questionform/?companyId={{ company.id }}&formName={{ form.form_name }}" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lisää välilehti</a>
       <a href="/fi/questionform/updatetabs/{{ company.id }}/{{ form.form_name }}" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Muokkaa lomaketta</a>
     </div>
     <div class="row">
       <a href="/fi/questionform/answer/{{ company.id }}/{{ form.form_name }}/" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Vastaa lomakkeeseen</a>
     </div>
     </div>
     {% endfor %}
   {% else %}
   <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
     <div class="row">
       <b>Ei lomakkeita </b>
     </div>
   </div>
   {% endif %}

   <hr>
   <h4 style="margin-bottom: 20px;">Yrityksen vastaukset:</h4>
   {% if answers|length > 0 %}
     {% for index, answer in answers %}
     <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
     <div class="row">
       <b>Lomakkeen nimi: </b>{{ answer.form_name }}
     </div>
     {% if answer.totalAnswers >= answer.totalQuestions %}
       <div class="row">
         <b>Kaikkiin vastattu: </b>Kyllä
       </div>
     {% else %}
       <div class="row">
         <b>Kaikkiin vastattu: </b>Ei
       </div>
     {% endif %}
     <div class="row">
       <b>Vastaukset: </b>{{ answer.totalAnswers }}/{{ answer.totalQuestions }}
     </div>
     <div class="row">
       <a href="/fi/questionform/showanswers/{{ company.id }}/{{ answer.form_name }}/" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä vastaukset</a>
       <a href="/fi/questionresults/{{ company.id }}/{{ answer.form_name }}/" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä tulokset</a>
     </div>
     </div>
     {% endfor %}
   {% else %}
   <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
     <div class="row">
       <b>Ei vastauksia</b>
     </div>
   </div>
   {% endif %}

   <hr>
   {#<h4 style="margin-bottom: 20px;">Yrityksen vastaukset vuosittain:</h4>
   {% if answerYears|length > 0 %}
     {% for index, year in answerYears %}
     <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
     <div class="row">
       <b>Vastausvuosi: </b>{{ year.year }}
     </div>
     <div class="row">
       <a href="/fi/questionresults/year/{{ year.year }}/{{ company.id }}" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä tulokset</a>
     </div>
     </div>
     {% endfor %}
   {% else %}
   <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
     <div class="row">
       <b>Ei vastauksia</b>
     </div>
   </div>
   {% endif %}#}

   <hr>{% if app.user.role is not same as('') %}
       <a href="/fi/company/{{ company.id }}/adduser/" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Kutsu tai muuta käyttäjiä</a>
      {% else %}
       <a href="/" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm disabled">Kutsu tai muuta käyttäjiä</a>
      {% endif %}

   <h4 style="margin-bottom: 20px; margin-top: 20px;">Yrityksen käyttäjät:</h4>
    <div class="row" style="background: #fcfcfc; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
     {#<div class="col">✎/✖</div>#}
     </div>
     {% for index, user in company.users %}
     <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
      <div class="col" style="max-width: 800px;"><b>Nimi:</b></div>
      <div class="col" style="max-width: 800px;"><b>ℹ️ Käyttäjänimi:</b></div>
      <div class="col" style="max-width: 800px;"><b> </b></div>
      {#<div class="col">✎/✖</div>#}
      </div>
      <div class="row" style="padding-left: 5px; border: '1px solid gray';
       background: white; border-radius: 5px; margin-top: 5px;">
        <div class="col" style="max-width: 800px;">
        {% if user.name == '' %}
         Ei nimeä
        {% else %}
         {{ user.name }}
        {% endif %}
        </div>
        <div class="col" style="max-width: 800px;">{{ user.username }}</div>
        <div class="col" style="max-width: 800px;">
        {#<a href="/company/update/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update property</a>#}
        </div>
        </div>
       {% endfor %}

<hr>

{% endblock %}
