{% extends 'fi.base.html.twig' %}

{% block title%}Yrityksen päivitys{% endblock %}

{% block body %}

  <h2>Yrityksen päivitys</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>ℹ️ Toiminimi</b></th>
     <th><b>ℹ️ Y-tunnus</b></th>
     <th><b>ℹ️ Toimiala</b></th>
     <th><b> </b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td data-toggle="tooltip" title="Address">
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ company.name }}" class="form-control newStyle" defaultValue="123" name="name" required autofocus>
         </td>
         <td data-toggle="tooltip" title="Indentifier">
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ company.businessId }}" class="form-control newStyle" defaultValue="123" name="businessId" required>
         </td>
         <td data-toggle="tooltip" title="Indentifier">
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ company.industry }}" class="form-control newStyle" defaultValue="123" name="industry" required>
         </td>
         <td>
         <a href="/fi/company/delete/{{ company.id }}" style="display: none;" id="deleteBtnHidden-{{ company.id }}" class="btn btn-danger">Delete</a>
         <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ company.id }}" data-name="{{ company.id }}">
         Poista yritys
         </a>
         </td>
       </tr>
   </tbody>
   </table>
   <button type="submit" class="btn btn-outline-primary btn-md">Päivitä tiedot</button>
   <a href="/fi/company" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
   </form>

   <hr><a href="/fi/company/{{ company.id }}/adduser/" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Kutsu tai muuta käyttäjiä</a>
   <h4 style="margin-bottom: 20px;">Yrityksen käyttäjät:</h4>

    <div class="row" style="background: #fcfcfc; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
     {#<div class="col">✎/✖</div>#}
     </div>
     {% for index, user in company.users %}
     <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
      <div class="col" style="max-width: 800px;"><b>Nimi:</b></div>
      <div class="col" style="max-width: 800px;"><b>ℹ️ Käyttäjänimi:</b></div>
      <div class="col" style="max-width: 800px;"><b> </b></div>
      {#<div class="col">✎/✖</div>#}
      </div>
      <div class="row" style="padding-left: 5px; border: '1px solid gray';
       background: white; border-radius: 5px; margin-top: 5px;">
        <div class="col" style="max-width: 800px;">
        {% if user.name == '' %}
         Ei nimeä
        {% else %}
         {{ user.name }}
        {% endif %}
        </div>
        <div class="col" style="max-width: 800px;">{{ user.username }}</div>
        <div class="col" style="max-width: 800px;">
        {#<a href="/company/update/{{ company.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update property</a>#}
        </div>
        </div>
       {% endfor %}

  <br><br><br><br>

{% endblock %}
