{% extends 'en.base.html.twig' %}

{% block title%}Add a new question{% endblock %}

{% block body %}

  <h2>❔ Add a new question</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>ℹ️ Content</b></th>
     <th><b>ℹ️ Category</b></th>
     <th><b>ℹ️ Language</b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>
         <textarea class="form-control" rows="3" value="{{ question.content }}" class="form-control newStyle" defaultValue="123" name="content" required></textarea>
         </td>
         <td>
         <select class="form-control newStyle" style="min-width: 150px;" name="category" required>
         <option value="transportation">Transportation</option>
         <option value="recycling">Recycling</option>
         <option value="electricity">Electricity</option>
         </select>
         </td>
         <td>
         <select class="form-control newStyle" style="min-width: 150px;" name="language" required>
         <option value="english">English</option>
         <option value="finnish">Finnish</option>
         </select>
         </td>
       </tr>
   </tbody>
   </table>
   <button type="submit" class="btn btn-outline-primary btn-md">Add new question</button>
   <a href="/en/question" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Cancel</a>
   </form>

  <br><br><br><br>

{% endblock %}
