{% extends 'en.base.html.twig' %}

{% block title%} Question {% endblock %}

{#disabled here so the delete modal works{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    var length = 1;
    function myFunction(name, value) {

    }

    function removeQuestion(questionNumber) {
      //length = length - 1;
      $("#question"+questionNumber).remove();
    }
    </script>
{% endblock %}#}

{% block body %}
<h3>Form {{ formName }}</h3><hr>
Form company: <a href="/en/company/{{ companyId }}" style="font-weight: bolder;">{{ companyName }}</a><hr>
 Form tabs (click to open):<br style="margin-bottom: 5px;">
 {%  for tab in tabs %}
 <a href="/en/questionform/updatetabs/{{ companyId }}/{{ formName }}/{{ tab.tab_name }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ tab.tab_name }}</a>
 {% endfor %}<hr>
<a href="/en/questionform/?companyId={{ companyId }}&formName={{ formName }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Add a new tab to the form</a>
<br><br><br><br><br><br>

{% endblock %}
