{% extends 'fi.base.html.twig' %}

{% block title%} Kysymys {% endblock %}

{#disabled here so the delete modal works{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    var length = 1;
    function myFunction(name, value) {

    }

    function removeQuestion(questionNumber) {
      //length = length - 1;
      $("#question"+questionNumber).remove();
    }
    </script>
{% endblock %}#}

{% block body %}
<h3>Lomake {{ formName }}</h3><hr>
Lomakkeen yritys: <a href="/fi/company/{{ companyId }}" style="font-weight: bolder;">{{ companyName }}</a><hr>
 Lomakkeen välilehdet (klikkaa avataksesi):<br style="margin-bottom: 5px;">
 {%  for tab in tabs %}
 <a href="/fi/questionform/updatetabs/{{ companyId }}/{{ formName }}/{{ tab.tab_name }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ tab.tab_name }}</a>
 {% endfor %}<hr>
<a href="/fi/questionform/?companyId={{ companyId }}&formName={{ formName }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lisää uusi välilehti lomakkeelle</a>
<br><br><br><br><br><br>

{% endblock %}
