{% extends 'fi.base.html.twig' %}

{% block title%} Kysymys {% endblock %}

{#disabled here so the delete modal works{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>

    function myFunction(name, value) {

    }

    function removeQuestion(questionNumber) {
      //length = length - 1;
      $("#question"+questionNumber).remove();
    }
    </script>
{% endblock %}#}

{% block body %}
<h4>Lomakkeen "{{ selectedTab.form_name }}" välilehti "{{ selectedTab.tab_name }}"</h4><hr>
Lomakkeen nimi: <a href="/fi/questionform/updatetabs/{{ companyId }}/{{ formName }}/" style="font-weight: bolder;">{{ selectedTab.form_name }}</a>
<br style="margin-bottom: 3px;">
Lomakkeen yritys: <a href="/fi/company/{{ companyId }}" style="font-weight: bolder;">{{ selectedTab.company_name }}</a><hr>
<div style="display: inline-block; min-width: 220px; border: 0px solid black;">Muokattava välilehti:</div><a style="display: inline; color: white; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ selectedTab.tab_name }}</a>
<br style="margin-bottom: 10px;">
 <div style="display: inline-block; min-width: 220px; margin-right: -5px; border: 0px solid black;">Lomakkeen muut välilehdet:</div>
 {% for tab in tabs %}
 <a href="/fi/questionform/updatetabs/{{ companyId }}/{{ formName }}/{{ tab.tab_name }}" style="padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ tab.tab_name }}</a>
 {% endfor %}
 <form method="post">
 <table class="table" style="">
  <thead>
    <tr>
    <th style="font-weight: normal;">Välilehden nimi</th>
    <th style="font-weight: normal;">Lomakkeen nimi</th>
    <th style="font-weight: normal;">Yritys</th>
    <th style="font-weight: normal;"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
        <input type="text" style="height: 32px; min-width: 100px; padding-left: 5px; text-align: left;" value="{{ selectedTab.tab_name }}" class="form-control newStyle" name="tabName" required autofocus>
        </td>
        <td>
        <input type="text" style="height: 32px; background-color: #F8F8F8; min-width: 160px; padding-left: 5px; text-align: left;" value="{{ selectedTab.form_name }}" class="form-control newStyle" readonly>
        </td>
        <td>
        <input class="form-control col-md-3" style="height: 32px; background-color: #F8F8F8; min-width: 160px; margin-bottom: 5px; height: 32px;" type="text" value="{{ selectedTab.company_name }}" readonly>
        </td>
        <td>
        <a href="/fi/questionform/deletetab/{{ companyId }}/{{ formName }}/{{ selectedTab.tab_name }}/" style="display: none;" id="deleteBtnHidden-{{ selectedTab.tab_name }}" class="btn btn-danger">Delete</a>
        <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ selectedTab.tab_name }}" data-name="kysymykset ja välilehti nimellä ">
        Poista välilehti
        </a>
        </td>
      </tr>
      <tr><hr>
        Välilehden kysymykset ({{ questions|length }}kpl):<br>
        <a href="/fi/questionform/newquestion/{{ companyId }}/{{ formName }}/{{ selectedTab.tab_name }}" style="margin-top: 5px; margin-bottom: 15px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lisää uusi kysymys välilehdelle</a>
      </tr>
      <thead>
        <tr>
        <th style="width: 50px;">ID:</th>
        <th style="font-weight: normal;">Kysymysteksti:</th>
        <th style="font-weight: normal;">Faktori:</th>
        {#<th style="font-weight: normal;">Ajankohta (kk/vuosi):</th>#}
        <th style="font-weight: normal;"></th>
        </tr>
      </thead>
      {% for index, question in questions %}
      <tr>
        <td>
        <input type="text" name="questions[question{{ index+1 }}][id]" style="height: 34px; background-color: #F8F8F8; min-width: 30px; min-width: 30px; padding-left: 5px; text-align: left;" class="form-control newStyle" value="{{ question.id }}" readonly>
        </td>
        <td>
        <input type="text" name="questions[question{{ index+1 }}][content]" style="height: 34px; min-width: 360px; padding-left: 5px; text-align: left;" value="{{ question.content }}" class="form-control newStyle" required autofocus>
        </td>
        <td>
        <select name="questions[question{{ index+1 }}][factor]" class="form-control" style="height: 34px; padding-top: 2px; width: 200px; height: 32px; margin-bottom: 5px;">

        {% for factor in factors %}

        <option value="{{ factor.id }}" {% if question.factor_id == factor.id %} selected="selected" {% endif %}>{{ factor.title_fi }}</option>

        {% endfor %}
        </select>
        </td>
        {#<td>
        <input type="date" min="2000-01-01" max="2030-01-01" id="questions{{ index+1 }}" name="questions[question{{ index+1 }}][target_time]" style="height: 34px; min-width: 140px; padding-left: 5px; text-align: left;" class="form-control newStyle" value="{{ question.dateFormatted }}" required autofocus>
        </td>#}
        <td>
        <a href="/fi/questionform/deletequestion/{{ companyId }}/{{ selectedTab.form_name }}/{{ selectedTab.tab_name }}/{{ question.id }}" style="display: none;" id="deleteBtnHidden-{{ question.id }}" class="btn btn-danger">Delete</a>
        <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ question.id }}" data-name="kysymys ID:llä ">
        Poista kysymys
        </a>
        </td>
      </tr>
      {% endfor %}


  </tbody>
  </table>

  <button type="submit" class="btn btn-outline-primary btn-md">Päivitä välilehti</button>
  <a href="/fi/company/{{ companyId }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
  </form>

<br><br><br><br><br><br>

{% endblock %}
