{% extends 'fi.base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div>
        <h2>Tervetuloa</h2>
        <p class="lead">Tervetuloa Carbon-projektiin!</p>
    </div>
{% endblock %}
