{% extends 'fi.base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div>
        <h2>Tervetuloa</h2>
        {% if is_granted('IS_AUTHENTICATED_FULLY') == true %}
        <p class="lead">{{ username }}</p>
        Olet kirjautunut sisään:<br>
        {#<a href="/logout"><button type="button" class="btn btn-outline-primary btn-md">Logout</button></a>#}
        <a href="/logout" data-toggle="tooltip" title="Logout">Kirjaudu ulos</a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <h2 class="h3 mb-3 font-weight-normal">Hyvää päivää, vierailija.</h2>
        Voit kirjautua sisään:
        <a href="/fi/login" data-toggle="tooltip" title="Login">Kirjaudu sisään</a><br><br>
        Tai rekisteröityä:
        <a href="/fi/register" data-toggle="tooltip" title="Register">Rekisteröidy</a>
        {% endif %}
    </div>
{% endblock %}
