{% extends 'fi.base.html.twig' %}

{% block title%} {{ property.address }} {% endblock %}

{% block body %}
 <h2>🏘️ {{ property.address }} </h2><hr>
   <a href="/fi/property" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin</a>
   {#<a href="/fi/property/{{ property.id }}/uploadxml" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lataa kuviot XML:stä</a>#}
   <hr>
<h4 style="margin-bottom: 20px;">🏘️ Tila:</h4>
<div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
 <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Ala (hehtaaria)"><b>📫 Osoite</b></div>
 <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Kasvupaikka"><b>ℹ️ Tunnus</b></div>
 <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Puun keskipituus (m)"><b>👨 Omistaja</b></div>
 <div class="col" style="max-width: 800px;" data-toggle="tooltip" title="Puun keskipituus (m)"><b> </b></div>
 {#<div class="col">✎/✖</div>#}
 </div>
 <div class="row" style="padding-left: 5px; border: '1px solid gray';
  background: white; border-radius: 5px; margin-top: 5px;">
   <div class="col" style="max-width: 800px;">{{ property.address }}</div>
   <div class="col" style="max-width: 800px;">{{ property.identifier }}</div>
   <div class="col" style="max-width: 800px;">{{ property.owner }}</div>
   <div class="col" style="max-width: 800px;">
   <a href="/fi/property/update/{{ property.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä tilaa</a></div>
   </div>

   <div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
   <div class="row">
     <b>Tilan arvo yhteensä: </b>{{ property.propertyAreaValueSummary }} €
   </div>
   <div class="row">
     <b>Tilan ala: </b>{{ property.propertyAreaSummary }} ha
   </div>
   <div class="row">
     <b>Tilan koko yhteensä: </b>{{ property.propertySizeSummary }} m³
   </div>
   <div class="row">
     <b>Kuvioita: </b> {{ articles|length }}kpl
   </div></div>

   <hr>
   {#<a href="/fi/property/{{ property.id }}/uploadxml/" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Tuo kuviot XML:stä</a>#}
   <a href="/fi/property/{{ property.id }}/importedarticles/" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä kuvionäkymä</a>
   <h4 style="margin-bottom: 20px;">🌳 Tilan tuodut kuviot ({{ importedArticles|length }}):</h4>
   <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
    <div class="col" style="max-width: 800px; padding-left: 5px;" data-toggle="tooltip"><b>Ala (hehtaaria):</b></div>
    <div class="col" style="max-width: 800px;" data-toggle="tooltip"><b>Pääryhmä:</b></div>
    <div class="col" style="max-width: 800px;" data-toggle="tooltip"><b>Päivämäärä:</b></div>
    <div class="col" style="max-width: 800px;" data-toggle="tooltip"><b> </b></div>
    </div>
     {% for index, importedArticle in importedArticlesPaginated %}
     <div class="row" style="height: 50px; box-shadow: 1px 1px 10px #808080; padding-left: 5px; border: 1px solid lightGray; background: white; border-radius: 5px; margin-top: 5px;">
       <div class="col" style="max-width: 800px; padding-left: 5px;">{{ importedArticle.area }}</div>
       <div class="col" style="max-width: 800px;">{{ importedArticle.mainclass }}</div>
       <div class="col" style="max-width: 800px;">{{ importedArticle.dateFi  }}</div>
       <div class="col" style="max-width: 800px;">
       <a href="/fi/property/{{ property.id }}/importedarticles/{{ importedArticle.id }}/show" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä kuvio</a></div>
       </div>
     {% endfor %}<hr>
     <div class="navigation">
         {{ knp_pagination_render(importedArticlesPaginated) }}
     </div><hr><br>

   <hr><a href="/fi/newarticle/property/{{ property.id }}/" style="float: right; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Lisää kuvio</a>
   <h4 style="margin-bottom: 20px;">🌳 Tilan kuviot ({{ articles|length }}):</h4>

    <div class="row" style="background: #fcfcfc; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
     <div class="col" data-toggle="tooltip" title="Ala (hehtaaria)"><b>Ala/ha</b></div>
     <div class="col" data-toggle="tooltip" title="Kasvupaikka"><b>Kas.paik.</b></div>
     <div class="col" data-toggle="tooltip" title="Puun keskipituus (m)"><b>Pituus</b></div>
     <div class="col" data-toggle="tooltip" title="Puulaji"><b>Puulaji</b></div>
     <div class="col" data-toggle="tooltip" title="Kehitysluokka"><b>KL</b></div>
     <div class="col" data-toggle="tooltip" title="Ikä (vuosia)"><b>Ikä</b></div>
     <div class="col" data-toggle="tooltip" title="Mäntytukki (m³)"><b>Mät</b></div>
     <div class="col" data-toggle="tooltip" title="Kuusitukki (m³)"><b>Kut</b></div>
     <div class="col" data-toggle="tooltip" title="Koivutukki (m³)"><b>Kot</b></div>
     <div class="col" data-toggle="tooltip" title="Muu tukki (m³)"><b>Mut</b></div>
     <div class="col" data-toggle="tooltip" title="Mäntykuitu (m³)"><b>Mäk</b></div>
     <div class="col" data-toggle="tooltip" title="Kuusikuitu (m³)"><b>Kuk</b></div>
     <div class="col" data-toggle="tooltip" title="Koivukuitu (m³)"><b>Kok</b></div>
     <div class="col" data-toggle="tooltip" title="Muu kuitu (m³)"><b>Muk</b></div>
     <div class="col" data-toggle="tooltip" title="Energiapuu (m³)"><b>Enp</b></div>
     {#<div class="col">✎/✖</div>#}
     </div>
     {% for index, article in articles %}
     <div class="row" style="background: white; padding-left: 5px; border: 1px solid gray;
       border-radius: 2px; margin-top: 5px;">
       <div class="col" data-toggle="tooltip" title="Ala (hehtaaria)">{{ article.area }}</div>
       <div class="col" data-toggle="tooltip" title="Kasvupaikka">{{ article.place }}</div>
       <div class="col" data-toggle="tooltip" title="Puun keskipituus (m)">{{ article.height }}</div>
       <div class="col" data-toggle="tooltip" title="Puulaji">{{ article.sort }}</div>
       <div class="col" data-toggle="tooltip" title="Kehitysluokka">{{ article.age }}</div>
       <div class="col" data-toggle="tooltip" title="Ikä (vuosia)">{{ article.development_class }}</div>
       <div class="col" data-toggle="tooltip" title="Mäntytukki (m³)">{{ article.mat }}</div>
       <div class="col" data-toggle="tooltip" title="Kuusitukki (m³)">{{ article.kut }}</div>
       <div class="col" data-toggle="tooltip" title="Koivutukki (m³)">{{ article.kot }}</div>
       <div class="col" data-toggle="tooltip" title="Muu tukki (m³)">{{ article.mut }}</div>
       <div class="col" data-toggle="tooltip" title="Mäntykuitu (m³)">{{ article.mak }}</div>
       <div class="col" data-toggle="tooltip" title="Kuusikuitu (m³)">{{ article.kuk }}</div>
       <div class="col" data-toggle="tooltip" title="Koivukuitu (m³)">{{ article.kok }}</div>
       <div class="col" data-toggle="tooltip" title="Muu kuitu (m³)">{{ article.muk }}</div>
       <div class="col" data-toggle="tooltip" title="Energiapuu (m³)">{{ article.enp }}</div>
       {#<div class="col">✎/✖</div>#}
       </div>
       <div class="totalContainer" style="margin-top: 5px;">
       <div class="row">
         <b>🌳 Kuvio: </b>{{ index+1 }}/{{ articles|length }}
       </div>
       <div class="row">
         <b>Kuvion koko yhteensä: </b> {{ article.articleSummary['totalSize'] }}m³
       </div>
       <div class="row">
         <b>Arvo/kuvio: </b> {{ article.articleSummary['areaValue'] }}€
       </div>
       <div class="row">
         <b>Odotusarvokerroin: </b> 15.4
       </div>
       <div class="row">
         <b>Kiinteistö: </b> {{ article.articleSummary['propertyAddress'] }}
       </div></div>
       <div class="totalContainer" style="border: 0px; margin-bottom: 10px;">
       <div class="row">
         <div class="col" style="margin-left: -5px; padding-top: 2px; padding-bottom: 2px;"><a href="/fi/property/{{ property.id }}/article/update/{{ article.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">
         Päivitä</a>
         </div>
         <div class="col" style="padding-top: 2px; padding-bottom: 2px;"><a href="/fi/property/{{ property.id }}/article/delete/{{ article.id }}" style="display: none;" id="deleteBtnHidden-{{ article.id }}" class="btn btn-danger">Delete</a>
         <a class="btn btn-danger btn-sm delete-company" style="color: white; margin-left: 13px; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ article.id }}" data-name="kuvio">
         Poista
         </a></div>
       </div></div>
       {% endfor %}

<hr>

{% endblock %}
