{% extends 'fi.base.html.twig' %}

{% block title%}Update Property{% endblock %}

{% block body %}

  <h2>🏘️ Tilan päivitys</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>📫 Osoite</b></th>
     <th><b>ℹ️ Tunnus</b></th>
     <th><b>👨 Omistaja</b></th>
     <th><b> </b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td data-toggle="tooltip" title="">
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ property.address }}" class="form-control newStyle" defaultValue="123" name="address" required autofocus>
         </td>
         <td data-toggle="tooltip" title="">
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ property.identifier }}" class="form-control newStyle" defaultValue="123" name="identifier" required autofocus>
         </td>
         <td data-toggle="tooltip" title="">
         <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ property.owner }}" class="form-control newStyle" defaultValue="123" name="owner" required autofocus>
         {#<div class="col" style="max-width: 800px;">{{ property.username }}</div>#}
         </td>
         <td>
         <a href="/property/delete/{{ property.id }}" style="display: none;" id="deleteBtnHidden-{{ property.id }}" class="btn btn-danger">Delete</a>
         <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ property.id }}" data-name="tila">
         Poista
         </a>
         </td>
       </tr>
   </tbody>
   </table>

   <button type="submit" class="btn btn-outline-primary btn-md">Päivitä kiinteistöä</button>
   <a href="/fi/property" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
   </form>

   <hr>
   <h4 style="margin-bottom: 20px;">🌳 Tilan kuviot ({{ property.articles|length }}):</h4>
   {% for index, article in property.articles %}
   <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
    <div class="col" style="max-width: 800px;"><b>ℹ️ Koko:</b></div>
    <div class="col" style="max-width: 800px;"><b>ℹ️ Kasvupaikka:</b></div>
    <div class="col" style="max-width: 800px;"><b>ℹ️ Pituus:</b></div>
    <div class="col" style="max-width: 800px;"><b>✎/✖</b></div>

    </div>
    <div class="row" style="padding-left: 5px; border: '1px solid gray';
     background: white; border-radius: 5px; margin-top: 5px;">
      <div class="col" style="max-width: 800px;">{{ article.area }}m³</div>
      <div class="col" style="max-width: 800px;">{{ article.place }}</div>
      <div class="col" style="max-width: 800px;">{{ article.height }}m</div>
      <div class="col" style="max-width: 800px;">

      <a href="/fi/property/{{ property.id }}/article/update/{{ article.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä</a>
      <a href="/property/{{ property.id }}/article/delete/{{ article.id }}" style="display: none;" id="deleteBtnHidden-{{ article.id }}" class="btn btn-danger">Delete</a>
      <a class="btn btn-danger btn-sm delete-company" style="color: white; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ article.id }}" data-name="tila">
      Poista
      </a>

      </div>
      </div>
     {% endfor %}

  <br><br><br><br>

{% endblock %}
