{% extends 'base.html.twig' %}

{% block title%}New Article {% endblock %}

{% block body %}

 <h2>🏘️ Add a new property</h2>

 <form method="post">
 <table class="table table-striped">
  <thead>
    <tr>
    <th><b>📫 Address</b></th>
    <th><b>ℹ️ Indentifier</b></th>
    <th><b>👨 Owner</b></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
        <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ property.address }}" class="form-control newStyle" defaultValue="123" name="address" required autofocus>
        </td>
        <td>
        <input type="text" style="min-width: 130px; padding-left: 5px; text-align: left;" value="{{ property.identifier }}" class="form-control newStyle" defaultValue="123" name="identifier" required autofocus>
        </td>
        <td>
        <div class="col" style="max-width: 800px;">{{ username }}</div>
        </td>
      </tr>
  </tbody>
  </table>
  <button type="submit" class="btn btn-outline-primary btn-md">Add property</button>
  <a href="/property" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Cancel</a>
  </form>

{% endblock %}
