{% extends 'fi.base.html.twig' %}

{% block title%} Lomakkeen vastaukset {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    function myFunction(name, value) {

    var href = new URL(window.location.toString());
    href.searchParams.set('page', 1);
    href.searchParams.set(name, value);
    window.location.assign(href.toString());
    }

    $(document).ready(function() {
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    });

    </script>
{% endblock %}

{% block body %}

 <h3>Tiedoston lähetys </h3>
<br>
<div style="border: 1px solid black; padding: 10px; border-radius: 10px;">
<h5>Lähetä kuviotiedot</h5><hr>
 <form method="post" enctype="multipart/form-data">

    <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

    <div>
    <input type="checkbox" id="inlineCheckbox1" name="checkbox1" value="option1">
    <label>Huomioi vain X</label><br>
        <label>File to upload:</label>
        <input type="file" name="myfile">
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Lähetä kuviotiedot</button>

</form>
<div>


<br><br><br><br><br><br>

{% endblock %}
