{% extends 'fi.base.html.twig' %}

{% block title%} Lisää kysely {% endblock %}

{% block body %}
<style>

</style>

<h4>Lisää kysely</h4><hr style="margin-bottom: 0px;">
Lisää kysely <b>SurveyJS:n</b> <i>https://surveyjs.io/Service/MySurveys</i> -näkymästä.
 <form method="post">
 <table class="table table-striped">
   <thead>
    <tr>
    <th style="border: 0px; padding-bottom: 2px;"><b>Kyselyn nimi:</b></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td style="border: 0px; padding-top: 2px;padding-bottom: 2px;">
        <input type="text" style="height: 30px; min-width: 350px; padding-left: 5px; text-align: left;" value="" class="form-control newStyle" defaultValue="123" name="surveyName" required autofocus>
        </td>
      </tr>
  </tbody>
  <thead>
    <tr>
    <th style="border: 0px; padding-bottom: 2px;"><b>Id:</b></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td style="border: 0px; padding-top: 2px;padding-bottom: 2px;">
        <input type="text" style="height: 30px; min-width: 350px; padding-left: 5px; text-align: left;" value="" class="form-control newStyle" defaultValue="123" name="surveyId" required autofocus>
        </td>
      </tr>
  </tbody>  
  <thead>
    <tr>
    <th style="border: 0px; padding-bottom: 2px;"><b>ResultId:</b></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td style="border: 0px; padding-top: 2px;padding-bottom: 2px;">
        <input type="text" style="height: 30px; min-width: 350px; padding-left: 5px; text-align: left;" value="" class="form-control newStyle" defaultValue="123" name="resultId" required autofocus>
        </td>
      </tr>
  </tbody>
  <thead>
    <tr>
    <th style="border: 0px; padding-bottom: 2px;"><b>PostId:</b></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td style="border: 0px; padding-top: 2px;padding-bottom: 2px;">
        <input type="text" style="height: 30px; min-width: 350px; padding-left: 5px; text-align: left;" value="" class="form-control newStyle" defaultValue="123" name="postId" required autofocus>
        </td>
      </tr>
  </tbody>
  </table>
  <hr>
  <button type="submit" class="btn btn-outline-primary btn-md">Lisää kysely</button>
  <a href="/fi/functions/survey" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
  </form><br><br>

{% endblock %}
