{% block title%} {% endblock %}

{% block body %}
<style>

</style>
   <div id="surveyContainer"></div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <link href="https://surveyjs.azureedge.net/1.7.9/survey.css" type="text/css" rel="stylesheet" />
<script src="https://surveyjs.azureedge.net/1.7.9/survey.jquery.min.js"></script>
    <script>
	
	var jsonedJSONdata = {{ JSONdata|json_encode()|raw }};
	var surveyJSON = jsonedJSONdata;
	
	var postId = {{ postId|json_encode()|raw }};

function sendDataToServer(survey) {
    survey.sendResult(postId);
}

var survey = new Survey.Model(surveyJSON);
$("#surveyContainer").Survey({
    model: survey,
    onComplete: sendDataToServer
});
	
	</script>
{% endblock %}

{% endblock %}