{% extends 'fi.base.html.twig' %}

{% block title%} Kyselyt {% endblock %}

{% block body %}
<style>

</style>

<h4>ℹ️ Kyselyt:</h4><hr style="margin-top: 0px;">
<a href="/fi/functions/addsurvey"><button type="button" class="btn btn-outline-primary btn-md">Lisää uusi kysely</button></a>
<hr>

<div class="totalContainer" style="box-shadow: 1px 1px 10px #808080; margin-top: 5px;">
<div class="row" style="display: inline; border: 0px;">
</div>
<div class="row" style="border-top: 1px solid lightGray;">
  <b>Kyselyitä yhteensä:<b> </b>{{ surveys|length }}kpl</b>
</div><div class="row" style="display: inline;">
</div></div>

<br><h4>Lista kyselyistä:</h4><hr style="margin-top: 0px;">
 <div class="row" style="text-align: center; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" style="margin-top: 5px; margin-bottom: 5px; max-width: 800px;" data-toggle="tooltip" title=""><b>Asiakas/kyselyn nimi:</b></div>
  <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b>Survey ID:</b></div>
  <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b>Result ID:</b></div>
  <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b>Post ID:</b></div>
  <div class="col" style="margin-top: 5px; margin-bottom: 5px; border-left: 1px solid lightGray; max-width: 800px;" data-toggle="tooltip" title=""><b></b></div>
  {#<div class="col">✎/✖</div>#}
  </div>
  {%  for survey in surveys %}
  <div class="row" style="border-bottom: 1px solid lightGray; padding-left: 10px; border: '1px solid gray';">
    <div class="col" style="max-width: 800px;">{{ survey.name }}</div>
    <div class="col" style="max-width: 800px;">{{ survey.surveyId }}</div>
	<div class="col" style="max-width: 800px;">{{ survey.resultId }}</div>
	<div class="col" style="max-width: 800px;">{{ survey.postId }}</div>
    <div class="col" style="text-align: center; max-width: 800px;"><a href="/fi/functions/survey/show/{{ survey.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Näytä/päivitä kysely</a>
    {#<a href="/fi/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä</a>#}
	</div>
    </div>
    {% endfor %}
<br>
<br><h4>Julkaistut kyselyt:</h4><hr style="margin-top: 0px;">
  <div id="publishedSurveysDiv">
  
    </div><br><br>
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
		fetch('http://localhost/wordpress/surveys/list.php').then(function (response) {
			return response.text();
		}).then(function (html) {
			console.log(html);
			$('#publishedSurveysDiv').html(html);
		}).catch(function (err) {
			console.warn('Something went wrong.', err);
		});
    </script>
{% endblock %}
{% endblock %}
