
{% block title%} {% endblock %}

{% block body %}
<style>

</style>
   <div id="surveyContainer"></div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <link href="https://surveyjs.azureedge.net/1.7.9/survey.css" type="text/css" rel="stylesheet" />
<script src="https://surveyjs.azureedge.net/1.7.9/survey.jquery.min.js"></script>
    <script>
	
	var surveyJSON = {locale:"fi",title:{default:"Testikysely",fi:"Työntekijäkysely"},description:{default:"Testataan",fi:"Kysely yrityksen työntekijöille"},pages:[{name:"Ensimmäinen sivu",elements:[{type:"radiogroup",name:"question3",title:{fi:"Olen sukupuoleltani:"},choices:[{value:"item1",text:{fi:"Mies"}},{value:"item2",text:{fi:"Nainen"}},{value:"item3",text:{fi:"Muunsukupuolinen"}}]},{type:"boolean",name:"question9",title:{fi:"Olen seurannut ilmastokeskustelua valveutuneena:"},labelTrue:{default:"Yes",fi:"Kyllä"},labelFalse:{default:"No",fi:"En"}},{type:"rating",name:"question1",title:{fi:"Ilmastoahdistukseni on asteikolla 1-5 seuraava:"}}],title:{fi:"Ensimmäinen sivu"}},{name:"Toinen sivu",elements:[{type:"checkbox",name:"question2",title:{fi:"Ilmastokeskustelu on aiheuttanut seuraavat näistä:"},choices:[{value:"item1",text:{fi:"Olen alkanut miettimään kulutustottumuksiani"}},{value:"item2",text:{fi:"Olen entistäkin huolestuneempi"}},{value:"item3",text:{fi:"Aion osallistua ilmastokeskusteluun parhaani mukaan jatkossakin"}}]},{type:"radiogroup",name:"question5",title:{fi:"Yleisin tapani työmatkoihini on:"},choices:[{value:"item1",text:{fi:"Yksityinen ajoneuvo"}},{value:"item2",text:{fi:"Julkinen ajoneuvo"}},{value:"item3",text:{fi:"Kävely/polkupyörä"}}]},{type:"text",name:"question6",title:{fi:"Kuinka paljon kuukausittaisesta palkastani voisin sijoittaa jatkossa ilmaston hyväksi (euromäärä):"}}],title:{fi:"Toinen sivu"}},{name:"Kolmas sivu",elements:[{type:"comment",name:"question7",title:{fi:"Vapaamuotoinen palaute kyselystä:"}}],title:{fi:"Kolmas sivu"}}]}

function sendDataToServer(survey) {
    survey.sendResult('32673a68-ee20-4130-a0d7-4ae7347c319a');
}

var survey = new Survey.Model(surveyJSON);
$("#surveyContainer").Survey({
    model: survey,
    onComplete: sendDataToServer
});
	
	</script>
{% endblock %}

{% endblock %}