{% extends 'en.base.html.twig' %}

{% block title%}Update question{% endblock %}

{% block body %}
  <h2>Update question</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>ℹ️ Content</b></th>
     <th style="padding-left: 50px;"><b>ℹ️ Category</b></th>
     <th><b>ℹ️ Language</b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>
         <textarea class="form-control" rows="3" class="form-control newStyle" defaultValue="123" name="content" required>{{ question.content }}</textarea>
         </td>
         <td style="padding-left: 50px;">
         <select class="form-control newStyle" style="min-width: 150px;" name="category" required>
         <option value="transportation" {% if question.category == 'transportation' %} selected="selected" {% endif %}>Transportation</option>
         <option value="recycling" {% if question.category == 'recycling' %} selected="selected" {% endif %}>Recycling</option>
         <option value="electricity" {% if question.category == 'electricity' %} selected="selected" {% endif %}>Electricity</option>
         </select>
         </td>
         <td>
         <select class="form-control newStyle" style="min-width: 150px;" name="language" required>
         <option value="english" {% if question.language == 'english' %} selected="selected" {% endif %}>English</option>
         <option value="finnish" {% if question.language == 'finnish' %} selected="selected" {% endif %}>Finnish</option>
         </select>
         </td>
       </tr>
   </tbody>
   </table>
   <button type="submit" class="btn btn-outline-primary btn-md">Update question</button>
   <a href="/en/question" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Cancel</a>
   </form>

  <br><br><br><br>

{% endblock %}
