{% extends 'fi.base.html.twig' %}

{% block title%}Kysymyksen lisäys{% endblock %}

{% block body %}

  <h2>Kysymyksen lisäys</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>ℹ️ Kysymyksen sisältö</b></th>
     <th><b>ℹ️ Kategoria</b></th>
     <th><b>ℹ️ Kieli</b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>
         <textarea class="form-control" rows="3" value="{{ question.content }}" class="form-control newStyle" defaultValue="123" name="content" required></textarea>
         </td>
         <td>
         <select class="form-control newStyle" style="min-width: 150px;" name="category" required>
         <option value="transportation">Kuljetus</option>
         <option value="recycling">Kierrätys</option>
         <option value="electricity">Sähkö</option>
         </select>
         </td>
         <td>
         <select class="form-control newStyle" style="min-width: 150px;" name="language" required>
         <option value="finnish">Suomi</option>
         <option value="english">Englanti</option>
         </select>
         </td>
       </tr>
   </tbody>
   </table>
   <button type="submit" class="btn btn-outline-primary btn-md">Lisää kysymys</button>
   <a href="/fi/question" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
   </form>

  <br><br><br><br>

{% endblock %}
