{% extends 'fi.base.html.twig' %}

{% block title%} Kysymys {{ question.id }} {% endblock %}

{% block body %}
 <h2>Kysymys {{ question.id }} </h2><hr>
   <a href="/fi/question" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Takaisin listaukseen</a><hr>
   <h4>Kysymys:</h4><hr style="margin-top: 0px;">
    <div class="row" style="padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
     <div class="col" style="max-width: 900px; text-align: center;"><b>ℹ️ Sisältö</b></div>
     <div class="col" style="max-width: 400px; text-align: center;"><b>ℹ️ Kategoria</b>

     </div>
     <div class="col" style="max-width: 200px; text-align: center;"><b>ℹ️ Kieli</b></div>
     <div class="col" style="max-width: 100px; text-align: center;"><b>ℹ️ ID</b></div>
     {#<div class="col" style="max-width: 800px;"><b>Käyttäjät</b></div>#}
     <div class="col" style="max-width: 800px;"><b> </b></div>
     {#<div class="col">✎/✖</div>#}
     </div>

     <div class="row" style="padding-left: '5px'; border: '1px solid gray';
      background: white; border-radius: 5px; margin-top: 5px;">
       <div class="col" style="max-width: 900px;">{{ question.content }}</div>
       <div class="col" style="max-width: 400px; text-align: center;">{% if question.category == 'transportation' %}
        Kuljetus
       {% elseif question.category == 'recycling' %}
        Kierrätys
       {% elseif question.category == 'electricity' %}
        Sähkö
       {% else %}
        Muu
       {% endif %}</div>
       <div class="col" style="max-width: 200px; text-align: center;">
       {% if question.language == 'english' %}
        Englanti
       {% elseif question.language == 'finnish' %}
        Suomi
       {% else %}
        Muu
       {% endif %}</div>
       <div class="col" style="max-width: 100px; text-align: center;">{{ question.id }}</div>
       {#<div class="col" style="max-width: 800px;">321</div>>#}
       <div class="col" style="max-width: 800px;"><a href="/fi/question/update/{{ question.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Päivitä kysymyksen tietoja</a></div>
       {#<div class="col">✎/✖</div>#}
       </div>
<hr>

{% endblock %}
