{% extends 'fi.base.html.twig' %}

{% block title%}Kysymyksen päivitys{% endblock %}

{% block body %}
  <h2>Kysymyksen päivitys</h2>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b>ℹ️ Kysymyksen sisältö</b></th>
     <th style="padding-left: 50px;"><b>ℹ️ Kategoria</b></th>
     <th><b>ℹ️ Kieli</b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>
         <textarea class="form-control" rows="3" class="form-control newStyle" defaultValue="123" name="content" required>{{ question.content }}</textarea>
         </td>
         <td style="padding-left: 50px;">
         <select class="form-control newStyle" style="min-width: 150px;" name="category" required>
         <option value="transportation" {% if question.category == 'transportation' %} selected="selected" {% endif %}>Kuljetus</option>
         <option value="recycling" {% if question.category == 'recycling' %} selected="selected" {% endif %}>Kierrätys</option>
         <option value="electricity" {% if question.category == 'electricity' %} selected="selected" {% endif %}>Sähkö</option>
         </select>
         </td>
         <td>
         <select class="form-control newStyle" style="min-width: 150px;" name="language" required>
         <option value="english" {% if question.language == 'english' %} selected="selected" {% endif %}>Englanti</option>
         <option value="finnish" {% if question.language == 'finnish' %} selected="selected" {% endif %}>Suomi</option>
         </select>
         </td>
       </tr>
   </tbody>
   </table>
   <button type="submit" class="btn btn-outline-primary btn-md">Päivitä kysymys</button>
   <a href="/fi/question" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-md">Peruuta</a>
   </form>

  <br><br><br><br>

{% endblock %}
