{% extends 'en.base.html.twig' %}

{% block title%}New Article {% endblock %}

{% block body %}

 <h2>Add a new article</h2>

 <div class="totalContainer" style="margin-top: 5px;">
 <div class="row">
   <b>Property address : </b>{{ property.address }}
 </div>
 <div class="row">
   <b>Property identifier : </b>{{ property.identifier }}
 </div>
 <div class="row">
   <b>Article quantity: </b> {{ property.articles|length }}
 </div>
 <div class="row">
   <a href="/en/property/{{ property.id }}" style="margin-bottom: 5px; margin-top: 5px; margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">🏘️ Show property details</a>
 </div></div>

  <form method="post">
  <table class="table table-striped">
   <thead>
     <tr>
     <th><b data-toggle="tooltip" title="Ala (hehtaaria)">Ala</b></th>
     <th><b data-toggle="tooltip" title="Kasvupaikka">Kas.paik.</b></th>
     <th><b data-toggle="tooltip" title="Puun keskipituus (m)">Pituus</b></th>
     <th><b data-toggle="tooltip" title="Puulaji">Puulaji</b></th>
     <th><b data-toggle="tooltip" title="Ikä (vuotta)">Ikä</b></th>
     <th><b data-toggle="tooltip" title="Kehitysluokka">Keh.luok.</b></th>
     <th><b data-toggle="tooltip" title="Mäntytukki (m³)">Mät</b></th>
     <th><b data-toggle="tooltip" title="Kuusitukki (m³)">Kut</b></th>
     <th><b data-toggle="tooltip" title="Muu tukki (m³)">Mut</b></th>
     <th><b data-toggle="tooltip" title="Mäntykuitu (m³)">Mak</b></th>
     <th><b data-toggle="tooltip" title="Kuusikuitu (m³)">Kuk</b></th>
     <th><b data-toggle="tooltip" title="Koivukuitu (m³)">Kok</b></th>
     <th><b data-toggle="tooltip" title="Muu kuitu (m³)">Muk</b></th>
     <th><b data-toggle="tooltip" title="Energiapuu (m³)">Enp</b></th>
     <th><b data-toggle="tooltip" title="Ext"> </b></th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td data-toggle="tooltip" title="Ala (hehtaaria)">
         <input type="number" step="0.01" min="0" value="0.1" class="form-control newStyle" defaultValue="0.1" name="area" required autofocus>
         </td>
         <td data-toggle="tooltip" title="Kasvupaikka">
         <select class="form-control newStyle" name="place">
         <option>Lehto</option><option>OMT</option><option>OMT</option><option>MT</option><option>VT</option><option>CT</option><option>CIT</option>
         <option>Kitu</option><option>Jouto</option><option>Muu</option></select>
         </td>
         <td data-toggle="tooltip" title="Puun keskipituus (m)">
         <input type="number" step="0.01" min="0" value="0.1" class="form-control newStyle" defaultValue="0.1" name="height" required>
         </td>
         <td data-toggle="tooltip" title="Puulaji">
         <select class="form-control newStyle" name="sort">
         <option>Kuusi</option><option>Hieskoivu</option><option>Mänty</option><option>Koivu</option></select>
         </td>
         <td data-toggle="tooltip" title="Ikä (vuotta)">
         <input type="number" step="1" min="0" value="0" class="form-control newStyle" defaultValue="{{ article.age }}" name="age" required>
         </td>
         <td data-toggle="tooltip" title="Kehitysluokka">
         <select class="form-control newStyle" name="development_class">
         <option>S0</option><option>T1</option><option>T2</option><option>Y1</option><option>02</option><option>03</option><option>04</option>
         <option>05</option><option>06</option><option>ER</option></select>
         </td>
         <td data-toggle="tooltip" title="Mäntytukki (m³)">
         <input type="number" step="1" min="0" value="0" class="form-control newStyle" defaultValue="{{ article.mat }}" name="mat" required>
         </td>
         <td data-toggle="tooltip" title="Kuusitukki (m³)">
         <input type="number" step="1" min="0" value="0" class="form-control newStyle" defaultValue="{{ article.kut }}" name="kut" required>
         </td>
         <td data-toggle="tooltip" title="Muu tukki (m³)">
         <input type="number" step="1" min="0" value="0" class="form-control newStyle" defaultValue="{{ article.mut }}" name="mut" required>
         </td>
         <td data-toggle="tooltip" title="Mäntykuitu (m³)">
         <input type="number" step="1" min="0" value="0" class="form-control newStyle" defaultValue="{{ article.mak }}" name="mak" required>
         </td>
         <td data-toggle="tooltip" title="Kuusikuitu (m³)">
         <input type="number" step="1" min="0" value="0" class="form-control newStyle" defaultValue="{{ article.kuk }}" name="kuk" required>
         </td>
         <td data-toggle="tooltip" title="Koivukuitu (m³)">
         <input type="number" step="1" min="0" value="0" class="form-control newStyle" defaultValue="{{ article.kok }}" name="kok" required>
         </td>
         <td data-toggle="tooltip" title="Muu kuitu (m³)">
         <input type="number" step="1" min="0" value="0" class="form-control newStyle" defaultValue="{{ article.muk }}" name="muk" required>
         </td>
         <td data-toggle="tooltip" title="Energiapuu (m³)">
         <input type="number" step="1" min="0" value="0" class="form-control newStyle" defaultValue="{{ article.enp }}" name="enp" required>
         </td>
         <td> </td>
       </tr>
   </tbody>
   </table>
   <button type="submit" class="btn btn-outline-primary btn-md">Add article</button>
   <a href="/en/property/" class="btn btn-info">Cancel</a>
   </form>

{% endblock %}
