{% extends 'fi.base.html.twig' %}

{% block title%} Lähetä kuviotiedot {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    function myFunction(name, value) {

    var href = new URL(window.location.toString());
    href.searchParams.set('page', 1);
    href.searchParams.set(name, value);
    window.location.assign(href.toString());
    }

    $(document).ready(function() {
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    });

    </script>
{% endblock %}

{% block body %}

 <h3>Lähetä kuviotiedot</h3>
<br>
<div style="border: 1px solid lightGray; padding: 10px; border-radius: 10px;">
<h5>Lähetä kuviotiedot</h5><hr>

<form method="post" enctype="multipart/form-data">
   <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

   <div>Lähetä täyttämäsi CSV-tiedosto päivitetyillä faktoreilla.<br><br>
   <h5 style="padding-bottom: 0px;">Ohjeistus:</h5>
   <b>Päivitys faktorille:</b> Poista "last_updated" faktorilta (muutosten lisäksi)<br>
   <input style="margin-top: 15px; margin-bottom: 15px;" type="checkbox" name="addNewProperty" value="addNewProperty"> I have a bike<br>
   <input type="file" name="xml">
   <hr>
   <button type="submit" class="btn btn-primary">Lähetä faktorit</button>
</form>

<div>


<br><br><br><br><br><br>

{% endblock %}
