{% extends 'fi.base.html.twig' %}

{% block title%} Articles {% endblock %}

{% block body %}
 <h2>Articles</h2><hr>

 <div class="row" style="background: #fcfcfc; padding-left: 5px; box-shadow: 1px 1px 10px #808080; margin-bottom: 5px;">
  <div class="col" data-toggle="tooltip" title="Ala (hehtaaria)"><b>Ala/ha</b></div>
  <div class="col" data-toggle="tooltip" title="Kasvupaikka"><b>Kas.paik.</b></div>
  <div class="col" data-toggle="tooltip" title="Puun keskipituus (m)"><b>Pituus</b></div>
  <div class="col" data-toggle="tooltip" title="Puulaji"><b>Puulaji</b></div>
  <div class="col" data-toggle="tooltip" title="Kehitysluokka"><b>KL</b></div>
  <div class="col" data-toggle="tooltip" title="Ikä (vuosia)"><b>Ikä</b></div>
  <div class="col" data-toggle="tooltip" title="Mäntytukki (m³)"><b>Mät</b></div>
  <div class="col" data-toggle="tooltip" title="Kuusitukki (m³)"><b>Kut</b></div>
  <div class="col" data-toggle="tooltip" title="Koivutukki (m³)"><b>Kot</b></div>
  <div class="col" data-toggle="tooltip" title="Muu tukki (m³)"><b>Mut</b></div>
  <div class="col" data-toggle="tooltip" title="Mäntykuitu (m³)"><b>Mäk</b></div>
  <div class="col" data-toggle="tooltip" title="Kuusikuitu (m³)"><b>Kuk</b></div>
  <div class="col" data-toggle="tooltip" title="Koivukuitu (m³)"><b>Kok</b></div>
  <div class="col" data-toggle="tooltip" title="Muu kuitu (m³)"><b>Muk</b></div>
  <div class="col" data-toggle="tooltip" title="Energiapuu (m³)"><b>Enp</b></div>
  {#<div class="col">✎/✖</div>#}
  </div>
  {% for index, article in articles %}
  <div class="row" style="background: white; padding-left: 5px; border: 1px solid gray;
    border-radius: 2px; margin-top: 5px;">
    <div class="col" data-toggle="tooltip" title="Ala (hehtaaria)">{{ article.area }}</div>
    <div class="col" data-toggle="tooltip" title="Kasvupaikka">{{ article.place }}</div>
    <div class="col" data-toggle="tooltip" title="Puun keskipituus (m)">{{ article.height }}</div>
    <div class="col" data-toggle="tooltip" title="Puulaji">{{ article.sort }}</div>
    <div class="col" data-toggle="tooltip" title="Kehitysluokka">{{ article.age }}</div>
    <div class="col" data-toggle="tooltip" title="Ikä (vuosia)">{{ article.development_class }}</div>
    <div class="col" data-toggle="tooltip" title="Mäntytukki (m³)">{{ article.mat }}</div>
    <div class="col" data-toggle="tooltip" title="Kuusitukki (m³)">{{ article.kut }}</div>
    <div class="col" data-toggle="tooltip" title="Koivutukki (m³)">{{ article.kot }}</div>
    <div class="col" data-toggle="tooltip" title="Muu tukki (m³)">{{ article.mut }}</div>
    <div class="col" data-toggle="tooltip" title="Mäntykuitu (m³)">{{ article.mak }}</div>
    <div class="col" data-toggle="tooltip" title="Kuusikuitu (m³)">{{ article.kuk }}</div>
    <div class="col" data-toggle="tooltip" title="Koivukuitu (m³)">{{ article.kok }}</div>
    <div class="col" data-toggle="tooltip" title="Muu kuitu (m³)">{{ article.muk }}</div>
    <div class="col" data-toggle="tooltip" title="Energiapuu (m³)">{{ article.enp }}</div>
    {#<div class="col">✎/✖</div>#}
    </div>
    <div class="totalContainer" style="margin-top: 5px;">
    <div class="row">
      <b>Kuvio : </b>{{ index+1 }}/{{ articles|length }}
    </div>
    <div class="row">
      <b>Kuvion koko yhteensä: </b> {{ article.articleSummary['totalArea'] }}m³
    </div>
    <div class="row">
      <b>Arvo/kuvio: </b> {{ article.articleSummary['areaValue'] }}€
    </div>
    <div class="row">
      <b>Odotusarvokerroin: </b> 15.4
    </div>
    <div class="row">
      <b>Kiinteistö: </b> {{ article.articleSummary['propertyAddress'] }}
    </div></div>
    <div class="totalContainer" style="border: 0px; margin-bottom: 10px;">
    <div class="row">
      <div class="col" style="margin-left: -5px; padding-top: 2px; padding-bottom: 2px;"><a href="/property/{{ article.propertyId }}/article/update/{{ article.id }}" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Update</a>
      </div>
      <div class="col" style="padding-top: 2px; padding-bottom: 2px;"><a href="/article/delete/{{ article.id }}" style="display: none;" id="deleteBtnHidden-{{ article.id }}" class="btn btn-danger">Delete</a>
      <a class="btn btn-danger btn-sm delete-company" style="color: white; margin-left: 13px; padding-left: 15px; padding-right: 15px;" data-toggle="modal" data-target="#deleteModal" data-id="{{ article.id }}" data-name="{{ article.id }}">
      Delete
      </a></div>
    </div></div>
    {% endfor %}

<br><br>

{% endblock %}
