{% extends 'fi.base.html.twig' %}

{% block body %}

  <div>
    <h2>Contact page</h2>

    {{ form_start(our_form) }}
    {{ form_widget(our_form) }}
    {{ form_end (our_form) }}
</div>
{% endblock %}
