{% extends 'en.base.html.twig' %}

{% block title%} Form results {% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script>

    var jsonedDatasets = "{{ jsonedDatasets }}";
    var newJsonedDatasets = jsonedDatasets.replace(/&quot;/g, '"');

    var jsonedLabels = "{{ jsonedLabels }}";
    var newJsonedLabels = jsonedLabels.replace(/&quot;/g, '"');

    var options = {
      type: 'line',
      data: {
        labels: JSON.parse(newJsonedLabels),
        datasets: JSON.parse(newJsonedDatasets)
      },
         options: {
            elements: {
                line: {
                    tension: 0 // disables bezier curves
                }
            }
    	}
    }

    var ctx = document.getElementById('chartJSContainer').getContext('2d');
    new Chart(ctx, options);
    </script>
{% endblock %}

{% block body %}

<hr><a href="/en/questionresults/{{ companyId }}/{{ formName }}/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Back to results</a>
<hr>

<div style="border: 1px solid gray; width: 700px;">
   <canvas id="chartJSContainer"></canvas>
 </div>

<br><br><br><br><br><br>

{% endblock %}
