{% extends 'en.base.html.twig' %}

{% block title%} Form results {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
    var jsonedLabels = "{{ jsonedLabelsArray }}";
    var newJsonedLabelsArray = jsonedLabels.replace(/&quot;/g, '"');

    var jsonedValues = "{{ jsonedValuesArray }}";
    var newJsonedValuesArray = jsonedValues.replace(/&quot;/g, '"');

    var options = {
        chart: {
            width: 380,
            type: 'pie',
        },
        labels: JSON.parse(newJsonedLabelsArray),
        series: JSON.parse(newJsonedValuesArray),
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    }

    var chart = new ApexCharts(
        document.querySelector("#chart"),
        options
    );

    chart.render();

    $(document).ready(function() {

    });
    </script>
{% endblock %}

{% block body %}
 <h3>Form {{ formName }} results</h3><hr>
 Form: <b>{{ formName }}</b><br>
 Form company: <a href="/en/company/{{ companyId }}" style="font-weight: bolder;">{{ companyName }}</a><hr>
 {% if showChart %}
 <p style="display: inline-block; min-width: 190px;">Result as line chart:</p> <a href="/en/questionresults/chart/linechart/{{ companyId }}/{{ formName }}/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show chart</a>
 <br style="margin-bottom: 10px;">
 <p style="display: inline-block; min-width: 190px; margin-bottom: 0px;">Results as stacked colums:</p> <a href="/fi/questionresults/chart/stackedchart/{{ companyId }}/{{ formName }}/" style="margin-left: 5px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">Show chart</a>
 <hr>
 {% endif %}

 {% if formName is not same as('') %}
   <div>Form tabs:</div>
   {% if tabNames|length < 1 %}
   <div>No tabs</div>
   {% endif %}
 {% endif %}

   {%  for tabName in tabNames %}
   {% if tabName is same as(selectedTab.tab_name) %}
    <a href="/en/questionresults/{{ companyId }}/{{ formName }}/{{ tabName }}" style="margin-right; -2px; margin-left: -2px; border: 2px solid orange; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ tabName }}</a>
   {% else %}
    <a href="/en/questionresults/{{ companyId }}/{{ formName }}/{{ tabName }}" style="margin-right; -2px; margin-left: -2px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ tabName }}</a>
   {% endif %}
   {% endfor %}

   <hr>
   {#Current tab:
   <b>{{ selectedTab.tab_name }}</b>
   <hr>#}
   Target time: {{ targetTimeFormatted }}

   <br>Tab result totals:
   <div id="chart" style="border: 1px solid gray; border-radius: 5px; width: 400px;">
   </div>

   <form method="post">
   <hr>
   {%  for index, question in tabQuestions %}

       <div style="margin-bottom: 20px; max-width: 400px; border: 1px solid gray; padding: 5px; box-shadow: 1px 1px 5px #808080; border-radius: 5px;">
       <p style="color: black; margin-bottom: 0px;">{{ index + 1 }}. {{ question.content }}:</p>
       </div>

       <div id="resultDiv-{{ index }}" style="margin-bottom: 20px; max-width: 400px; border: 1px solid gray; background: #f8f8d2; padding: 5px; box-shadow: 1px 1px 5px #808080; border-radius: 5px;">
       <p id="result-{{ index }}" style="font-weight: bolder; display: inline; color: black; margin-bottom: 0px;">
       Result:  </p><p style="display: inline;"> {{ question.result }}</p>
       <p style="color: black; margin-bottom: 0px;">
       Answer: {{ question.answer }}</p>
       <p style="color: black; margin-bottom: 0px;">
       Factor name: {{ question.factor.title_fi }}</p>
       <p style="color: black; margin-bottom: 0px;">
       Factor value and measure: {{ question.factor.valueFloated }} / {{ question.factor.measure }}</p><div style="display: none;" id="value-{{ index }}">{{ question.factor.valueFloated }}</div>
       </div>

       {% if question.time is not same as('') %}
         <div style="margin-bottom: 30px; max-width: 400px; border: 1px solid gray; padding: 5px; box-shadow: 1px 1px 5px #808080; border-radius: 5px;">
         <p style="color: black; margin-bottom: 0px;">Latest answer time: {{ question.timeFi  }}</p>
         <p style="color: black; margin-bottom: 0px;">User: {{ question.user.username  }}</p>
         </div>
       {% endif %}

    {% endfor %}
   </form>

<br><br><br><br><br><br>

{% endblock %}
