<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Welcome{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% endblock %}
    <style>
    body {
      background-color: #fcfcfc;;
    }
    .container {
      margin-top: 20px;
      margin-left: 60px;
      background-color: white;
    }
    .totalContainer {
      background: #fcfcfc;
      border: 1px solid lightGray;
      border-radius: 2px;
      margin-left: -15px;
      margin-right: -15px;
    }
    .totalContainer .row {
      border-bottom: 1px solid lightGray;
      padding-left: 5px;
      margin-right: 15px;
      margin: 0px;
    }
    .totalContainer .row:last-child {
      border: 0px;
    }
    .col {
      color: black;
      margin: 0px;
      padding: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-left: 0px solid black;
      min-width: 75px;
      max-width: 75px;
	  overflow: hidden;
	  text-overflow: ellipsis;
    }
    .colFull {
      max-width: 100%;
      margin-right: 100px;
    }
    .trimText{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .newStyle {
      background: white;
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
      max-width: 80px;
    }
    b {
      font-weight: bold;
    }
    .navigation {
      font-family: verdana;
      font-size: 15px;
      font-weight: light;
    }
    .navigation .current {
      color: black;
      padding-left: 10px;
      padding-right: 10px;
    }
    .navigation .page > a {
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .page > a:hover {
      background-color: lightBlue;
    }
    .navigation .first > a {
      border: 1px solid lightBlue;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .first > a:hover {
      background-color: lightBlue;
    }
    .navigation .previous > a {
      border: 1px solid lightBlue;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .previous > a:hover {
      background-color: lightBlue;
    }
    .navigation .next > a {
      border: 1px solid lightBlue;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .next > a:hover {
      background-color: lightBlue;
    }
    .navigation .last > a {
      border: 1px solid lightBlue;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navigation .last > a:hover {
      background-color: lightBlue;
    }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/fi/">Etusivu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <div class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/fi/welcome">Tervetuloa<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fi/property">Tilat</a>
        </li>
        {#<li class="nav-item">
          <a class="nav-link" href="/fi/newproperty">➕ Lisää tila</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fi/company">Yritykset</a>
        </li>#}
        {#<<li class="nav-item">
          <a class="nav-link" href="/fi/question">Kysymykset</a>
        </li>#}
        {#<li class="nav-item">
          <a class="nav-link" href="/fi/factor">Faktorit</a>
        </li>#}
        {#<li class="nav-item">
          <a class="nav-link" href="/fi/questionform">Uusi lomake</a>
        </li>#}
        {% if app.user and app.user.role == 'super-user' %}
        <li class="nav-item">
          <a class="nav-link" href="/fi/functions">Toiminnot</a>
        </li>
        {% endif %}
        {% if app.user and app.user.role == 'super-user' %}
        <li class="nav-item">
          <a class="nav-link" href="/fi/functions/importedarticles/">Hae kuvioita</a>
        </li>
        {% endif %}
		{% if app.user and app.user.role == 'super-user' %}
        <li class="nav-item">
          <a class="nav-link" href="/fi/functions/survey">Kyselyt</a>
        </li>
        {% endif %}
        {% if app.user and app.user.role == 'super-user' %}
        <li class="nav-item">
          <a class="nav-link" href="/fi/manage/profiles">Käyttäjät</a>
        </li>
        {% endif %}
        {#<li class="nav-item">
          <a class="nav-link" href="/article">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newarticle">Add article</a>
        </li>#}
      </div>

      <div class="navbar-nav">
        <li class="nav-item dropdown" data-toggle="tooltip" data-placement="left" title="Profiilin asetuksista voit vaihtaa käyttökieltä pysyvästi.">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Käyttökieli</a>
          <div class="dropdown-menu pull-right" style="height: 0px;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/en/" style="background: white; text-align: center; padding-left: 30px; border: 1px solid gray; border-radius: 5px; background-image: url('/images/uk.png'); background-size: 40px 40px; background-repeat: no-repeat;">English</a>
            <a class="dropdown-item" href="/fi/" style="background: white; text-align: center; padding-left: 25px; border: 1px solid gray; border-radius: 5px; background-image: url('/images/fin.png'); background-size: 40px 40px; background-repeat: no-repeat;">Suomi</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user"></i>
            {% if app.user %}
                {{ app.user.username }}
            {% elseif not app.user %}
                Profiili
            {% endif %}
          </a>
          {% if is_granted('IS_AUTHENTICATED_FULLY') == true %}
          <div class="dropdown-menu pull-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/fi/profile">Profiili</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
          {% endif %}
          {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
          <div class="dropdown-menu pull-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/fi/login">Kirjaudu</a>
            <a class="dropdown-item" href="/fi/register">Rekisteröidy</a>
          </div>
          {% endif %}
        </li>
      </div>
    </div>
  </nav>


    <main role="main" class="container main">

      {% include 'flash_messages.html.twig' %}

      {% block body %}{% endblock %}
    </main>
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script>
            var url = window.location.href;

            $('.dropdown-toggle').dropdown();
            $('[data-toggle="tooltip"]').tooltip();
            $(document).ready(function () {

            let pageLoadUrl = new URL(url);
            const onLoadParams = new URLSearchParams(pageLoadUrl.search.slice(1));
            if (onLoadParams.has('filterNoTrees')) {
              $("#filterNoTreesCheck").prop("checked", true);
            } else {
              $("#filterNoTreesCheck").prop("checked", false);
            }

            if (onLoadParams.has('operation')) {
              const operationValue = onLoadParams.get("operation");
              $('#operationDropdown').val(operationValue);
            } else {
              $('#operationDropdown').val('0');
            }

            $('#growplaceDropdown').val('0');
            $('#soiltypeDropdown').val('0');

              var itemId = 0;
              var itemName = '';
              $('.delete-company').click(function () {
                  var newId = $(this).attr('data-id');
                  var newItemName = $(this).attr('data-name');

                  itemName = newItemName;
                  itemId = newId;

                  document.getElementsByClassName("modal-body")[0].innerHTML = "<p>Poistetaanko "+newItemName+" "+newId+"?</p>";

              });

              $('#deleteBtn').click(function (event) {
                document.querySelector("#deleteBtnHidden-"+itemId).click(function () {
                  var itemId = 0;
                  var itemName = '';
                });
                /*
                  const deleteUrl = window.location + '/delete/' + articleId
                  fetch(deleteUrl).then(response => {
                  location.replace(window.location)
                })*/
              });
            });

            function showOrHideTreeinfo(articleParent) {
              if ($("#treeInfoButton-"+articleParent).text() == "Näytä kuvion puustotiedot" ) {
                console.log($("#treeInfoButton-"+articleParent).text());
                $("#treeInfo-"+articleParent).css("display", "inline");
                $("#treeInfoButton-"+articleParent).text("Piilota kuvion puustotiedot");
              } else if ($("#treeInfoButton-"+articleParent).text() == "Piilota kuvion puustotiedot" ) {
                console.log($("#treeInfoButton-"+articleParent).text());
                $("#treeInfo-"+articleParent).css("display", "none");
                $("#treeInfoButton-"+articleParent).text("Näytä kuvion puustotiedot");
              }
            }
/*
            function showOrHideTreeinfoNewProps(propertyParent, articleId) {
              if ($("#treeInfoButton-"+propertyParent+"-"+articleId).text() == "Näytä kuvion puustotiedot" ) {
                //console.log($("#treeInfoButton-"+propertyParent).text());
                $("#treeInfo-"+propertyParent+"-"+articleId).css("display", "inline");
                $("#treeInfoButton-"+propertyParent+"-"+articleId).text("Piilota kuvion puustotiedot");
              } else if ($("#treeInfoButton-"+propertyParent+"-"+articleId).text() == "Piilota kuvion puustotiedot" ) {
                //console.log($("#treeInfoButton-"+propertyParent).text());
                $("#treeInfo-"+propertyParent+"-"+articleId).css("display", "none");
                $("#treeInfoButton-"+propertyParent+"-"+articleId).text("Näytä kuvion puustotiedot");
              }
            }

            function showOrHideTreeinfoFromOldPropArticles(articleParent, newOrOldArticles) {
              if ($("#treeInfoButton-"+articleParent).text() == "Näytä kuvion puustotiedot" ) {
                console.log($("#treeInfoButton-"+articleParent).text());
                $("#treeInfo-"+articleParent).css("display", "inline");
                $("#treeInfoButton-"+articleParent).text("Piilota kuvion puustotiedot");
              } else if ($("#treeInfoButton-"+articleParent).text() == "Piilota kuvion puustotiedot" ) {
                console.log($("#treeInfoButton-"+articleParent).text());
                $("#treeInfo-"+articleParent).css("display", "none");
                $("#treeInfoButton-"+articleParent).text("Näytä kuvion puustotiedot");
              }
            }

            function showOrHideTreeinfoOldProps(propertyParent, articleId, newOrOldArticles) {
              //this function for existing props, new and old articles
              //{#<button id="treeInfoOldPropsNewArticlesButton-{{index}}-{{index2}}"#}
              //{#<div id="treeInfoOldPropsNewArticles-{{index}}-{{index2}}"#}
              console.log('showOrHideTreeinfoOldProps');
              console.log(propertyParent);
              console.log(articleId);
              console.log(newOrOldArticles);
              if (newOrOldArticles == 'old') {
                if ($("#treeInfoButton-"+propertyParent+"-"+articleId).text() == "Näytä kuvion puustotiedot" ) {
                  //console.log($("#treeInfoButton-"+propertyParent).text());
                  $("#treeInfo-"+propertyParent+"-"+articleId).css("display", "inline");
                  $("#treeInfoButton-"+propertyParent+"-"+articleId).text("Piilota kuvion puustotiedot");
                } else if ($("#treeInfoButton-"+propertyParent+"-"+articleId).text() == "Piilota kuvion puustotiedot" ) {
                  //console.log($("#treeInfoButton-"+propertyParent).text());
                  $("#treeInfo-"+propertyParent+"-"+articleId).css("display", "none");
                  $("#treeInfoButton-"+propertyParent+"-"+articleId).text("Näytä kuvion puustotiedot");
                }
              } if (newOrOldArticles == 'new') {

              }
            }

            function showOrHideImportedArticlesFromNewProps(propertyParent) {
              if ($("#showOrHideImportedArticlesFromOldPropsButton-"+propertyParent).text() == "Näytä kuviot" ) {
                $("#showOrHideImportedArticlesFromOldPropsDiv-"+propertyParent).css("display", "inline");
                $("#showOrHideImportedArticlesFromOldPropsButton-"+propertyParent).text("Piilota kuviot");
              } else if ($("#showOrHideImportedArticlesFromOldPropsButton-"+propertyParent).text() == "Piilota kuviot" ) {
                $("#showOrHideImportedArticlesFromOldPropsDiv-"+propertyParent).css("display", "none");
                $("#showOrHideImportedArticlesFromOldPropsButton-"+propertyParent).text("Näytä kuviot");
              }
            }

            function showOrHideImportedArticlesFromOldProps(propertyParent, newOrOldArticles) {
              if (newOrOldArticles == 'old') {
                if ($("#showOrHideImportedArticlesFromNewPropsButton-"+propertyParent).text() == "Näytä kuviot" ) {
                  $("#showOrHideImportedArticlesFromNewPropsDiv-"+propertyParent).css("display", "inline");
                  $("#showOrHideImportedArticlesFromNewPropsButton-"+propertyParent).text("Piilota kuviot");
                } else if ($("#showOrHideImportedArticlesFromNewPropsButton-"+propertyParent).text() == "Piilota kuviot" ) {
                  $("#showOrHideImportedArticlesFromNewPropsDiv-"+propertyParent).css("display", "none");
                  $("#showOrHideImportedArticlesFromNewPropsButton-"+propertyParent).text("Näytä kuviot");
                }
              } if (newOrOldArticles == 'new') {
                if ($("#showOrHideNewImportedArticlesFromNewPropsButton-"+propertyParent).text() == "Näytä kuviot" ) {
                  $("#showOrHideNewImportedArticlesFromNewPropsDiv-"+propertyParent).css("display", "inline");
                  $("#showOrHideNewImportedArticlesFromNewPropsButton-"+propertyParent).text("Piilota kuviot");
                } else if ($("#showOrHideNewImportedArticlesFromNewPropsButton-"+propertyParent).text() == "Piilota kuviot" ) {
                  $("#showOrHideNewImportedArticlesFromNewPropsDiv-"+propertyParent).css("display", "none");
                  $("#showOrHideNewImportedArticlesFromNewPropsButton-"+propertyParent).text("Näytä kuviot");
                }
              }
            }
*/
            function filterFunction() {
            let newUrl = url;

            const urlParts = newUrl.split('?');
            let params = new URLSearchParams(urlParts[1]);

            const checkBox = document.getElementById("filterNoTreesCheck");
            if (checkBox.checked == true) {
              params.set('filterNoTrees', true);
              newUrl = urlParts[0] + '?' + params.toString();
            } if (checkBox.checked == false) {
              params.delete('filterNoTrees');
              newUrl = urlParts[0] + '?' + params.toString();
            }

            var operationDropdown = document.getElementById("operationDropdown");
            var operationDropdownValue = operationDropdown.options[operationDropdown.selectedIndex].value;
            if (operationDropdownValue !== 0) {
                params.set('operation', operationDropdownValue);
                newUrl = urlParts[0] + '?' + params.toString();
            }
/*
            var growplaceDropdown = document.getElementById("growplaceDropdown");
            var growplaceDropdownValue = growplaceDropdown.options[growplaceDropdown.selectedIndex].value;
            if (growplaceDropdownValue > 0) {
                alert(growplaceDropdownValue);
            }

            var soiltypeDropdown = document.getElementById("soiltypeDropdown");
            var soiltypeDropdownValue = soiltypeDropdown.options[soiltypeDropdown.selectedIndex].value;
            if (soiltypeDropdownValue > 0) {
                alert(soiltypeDropdownValue);
            }
*/
            window.location.assign(newUrl);
            }

            function getArticles() {
              //alert(url);
              console.log(url);
              window.location.assign(url);
            }
/*
            function nextPage() {
              let newUrl = new URL(url);
              var currentPage = newUrl.searchParams.get("page");
              newPageNumb = currentPage + 1;
              url = url.replace("?page="+currentPage, "?page="+newPageNumb);
              console.log(newPageNumb);
              //window.location.assign(url);
            }

            function previousPage() {
              let newUrl = new URL(url);
              var currentPage = newUrl.searchParams.get("page");
              newPageNumb = currentPage - 1;
              url = url.replace("?page="+currentPage, "?page="+newPageNumb);
              console.log(newPageNumb);
              //window.location.assign(url);
            }
*/
        </script>
    {% endblock %}

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Oletko varma?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Oletko varma?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" id="deleteBtn">Poista</button>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
