{% extends 'en.base.html.twig' %}

{% block title%} Reply to a form {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    var length = 1;
    function myFunction(name, value) {

    }

    $(document).ready(function() {
      const totalFields = $(":input[type='text']").length;
      $("#notSavedCount").text(totalFields+'/'+totalFields);
      let currentFields = 0;

      $(":input[required='required']").on("change paste keyup", function(event) {

        console.log(event.currentTarget.id);
        const inputValue = event.currentTarget.value;
        const factorValue = $("#value-"+event.currentTarget.id).text();
        const resultRounded = parseFloat(inputValue * factorValue).toFixed(2);

        //$("#"+"resultDiv-"+event.currentTarget.id).css("border", "3px solid red");

        const values = $(":input[type='text']").map(function(){return $(this).val();}).get();

        const notEmpties = values.filter((el) => {
          return el !== '';
        });

        if (!isNaN(resultRounded)) {
          $("#result-"+event.currentTarget.id).text('Result: ' + resultRounded);
          currentFields = notEmpties.length
          const result = Math.round((currentFields/totalFields)*100)+'%';
          $("#progressbar").css("width", result);
          $("#notSavedCount").text(totalFields-currentFields+'/'+totalFields);
          $("#progressPercent").text(result);
        }

      });

/*
      $(":input[required='required']").change(function() {
        if ($(this).val().length > 0) {
          currentFields = currentFields + 1;
          const result = (currentFields/totalFields)*100+'%';
          console.log(result)
          $("#progressbar").css("width", result);
        } else if ($(this).val().length < 1) {
          console.log('deleting!');
          currentFields = currentFields - 1;
          const result = (currentFields/totalFields)*100+'%';
          console.log(result)
          $("#progressbar").css("width", result);
        }
      });

      $(":input[required='required']").on("change paste keyup", function() {
          console.log('deleting!');

      });
*/
    });
    </script>
{% endblock %}

{% block body %}
 <h3>Reply to {{ formName }} </h3><hr>
 Lomake: <b>{{ formName }}</b><br>
 Lomakkeen yritys: <a href="/en/company/{{ companyId }}" style="font-weight: bolder;">{{ companyName }}</a><hr>
 {% if formName is not same as('') %}
   <div>Form tabs:</div>
   {% if tabNames|length < 1 %}
   <div>No other tabs</div>
   {% endif %}
 {% endif %}

 {%  for tabName in tabNames %}
 {% if tabName is same as(selectedTab.tab_name) %}
  <a href="/fi/questionform/answer/{{ companyId }}/{{ formName }}/{{ tabName }}" style="margin-right; -2px; margin-left: -2px; border: 2px solid orange; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ tabName }}</a>
 {% else %}
  <a href="/fi/questionform/answer/{{ companyId }}/{{ formName }}/{{ tabName }}" style="margin-right; -2px; margin-left: -2px; padding-left: 15px; padding-right: 15px;" class="btn btn-info btn-sm">{{ tabName }}</a>
 {% endif %}
 {% endfor %}
   <hr>

   <form method="post">
   {#targetTime: {{ targetTime }}#}
   <input type="date" min="2000-01-01" max="2030-01-01" name="targetTime" style="height: 34px; min-width: 140px; padding-left: 5px; text-align: left;" class="form-control newStyle" value="{{ targetTimeFormatted }}" required autofocus>
   <hr>
   {%  for index, question in tabQuestions %}

       <label for="text">{{ index + 1 }}. {{ question.content }}:
       {#<br>Kysymyksen ajankohta: {{ question.targetTimeFi }}#}
       <br>
         {#<input style="max-width: 400px;" class="form-control" value="{{ question.answer }}" readonly>#}
         <input type="text" id="{{ index }}" style="max-width: 400px;" class="form-control" name="answers[answer-{{ index }}][content]" required>
         {#<input style="display: none;" value="{{ question.id }}" readonly><br>#}
         <input style="display: none;" value="{{ question.id }}" name="answers[answer-{{ index }}][question-id]" readonly>
         </label>

         <div id="resultDiv-{{ index }}" style="margin-bottom: 20px; max-width: 400px; border: 1px solid gray; background: #f8f8d2; padding: 5px; box-shadow: 1px 1px 5px #808080; border-radius: 5px;">
         <p id="result-{{ index }}" style="display: inline; color: black; margin-bottom: 0px;">Tulos: 0.00 </p><p style="display: inline;"> {{ question.factor.measure }}</p>
         <p style="color: black; margin-bottom: 0px;">Faktorin nimi: {{ question.factor.title_fi }}</p>
         <p style="color: black; margin-bottom: 0px;">Faktorin arvo ja mittayksikkö: {{ question.factor.valueFloated }} / {{ question.factor.measure }}</p><div style="display: none;" id="value-{{ index }}">{{ question.factor.valueFloated }}</div>
         </div>

         {% if question.time is not same as('') %}
           <div style="margin-bottom: 20px; max-width: 400px; border: 1px solid gray; padding: 5px; box-shadow: 1px 1px 5px #808080; border-radius: 5px;">
           <p style="color: black; margin-bottom: 0px;">Latest reply time: {{ question.timeEn  }}</p>
           <p style="color: black; margin-bottom: 0px;">Target time: {{ question.targetTimeEn }}</p>
           <p style="color: black; margin-bottom: 0px;">Value: {{ question.answer }}</p>
           <p style="color: black; margin-bottom: 0px;">User: {{ question.user.username  }}</p>
           </div>
         {% endif %}

    {% endfor %}
    {#{% if enableSubmit %}#}
      <button style="display: inline-block; float: left;" type="submit" class="btn btn-default">Save answers</button>
    {#{% endif %}#}
   </form>

   <div class="fixed-bottom" style="background: rgba(232, 236, 241, 0.8); padding-left: 50px; border-top: 1px solid gray; min-height: 70px;">
     {#{% set notAnsweredcount = 0 %}
     {% for question in tabQuestions %}
         {% if question.time == '' %}
             {% set notAnsweredcount = notAnsweredcount + 1 %}
         {% endif %}
     {% endfor %}#}
   Questions not saved <div id="notSavedCount" style="display: inline;">1/3:</div>
   <div class="progress" style="width: 500px; border: 1px solid black; height: 25px;">
   <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%;">
    <div id="progressPercent">Progress1</div>
   </div>
   </div>
   </div>

<br><br><br><br><br><br>

{% endblock %}
