{% extends 'fi.base.html.twig' %}

{% block title%} Lomakkeen vastaukset {% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
    function myFunction(name, value) {

    var href = new URL(window.location.toString());
    href.searchParams.set('page', 1);
    href.searchParams.set(name, value);
    window.location.assign(href.toString());
    }

    $(document).ready(function() {
      $("#answeredBtn").click(function() {
        if ($('#answeredBtn')[0].name === "hidden") {
          $("#notAnsweredDiv").css("display", "block");
          $("#answeredBtn").text("Piilota vastaamattomat kysymykset");
          $('#answeredBtn')[0].name = "visible";
        } else if ($('#answeredBtn')[0].name === "visible") {
          $("#notAnsweredDiv").css("display", "none");
          $("#answeredBtn").text("Näytä vastaamattomat kysymykset");
          $('#answeredBtn')[0].name = "hidden";
        }
      });
    });

    </script>
{% endblock %}

{% block body %}

 <h3>Vuoden {{ formName }} vastaukset </h3>

 {%  for result in resultsPaginated %}

  <div class="row" style="padding-left: '5px'; border: '1px solid gray';
   background: white; border-radius: 5px; margin-top: 5px;">
    <div class="col" style="max-width: 50px;">{{ result.id }}</div>
    <div class="col" style="max-width: 250px; min-width: 250px;">123</div>
    <div class="col" style="max-width: 150px;">123</div>
    <div class="col" style="max-width: 150px;"><b>123</b></div>
    <div class="col" style="max-width: 200px;">123</div>
    <div class="col" style="max-width: 150px;">123</div>
    <div class="col" style="max-width: 150px;">123</div>
    </div>


 {% endfor %}

 <div class="navigation">
     {{ knp_pagination_render(resultsPaginated) }}
 </div>

<br><br><br><br><br><br>

{% endblock %}
